label.cabinet {
    display: block;
    cursor: pointer;
}

label.cabinet input.file {
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    margin-top: -30px;
}

#upload-demo {
    width: 350px;
    height: 350px;
    padding-bottom: 25px;
}
.cabinet figure{
    text-align: center;
}
.cabinet figure img{
    border-color: var(--reddish-orange);
    background-color: var(--reddish-orange);
    border-radius: 50%;
}
figure figcaption {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding-left: 9px;
    padding-bottom: 5px;
    text-shadow: 0 0 10px #000;
}