//--------------------------------------------------------- GENERAL
:root {
  --reddish-orange: #ff671d;
  --sandy: #e6d67f;
  --rosa: #fb91a3;
  --dark-blue-grey: #292559;
  --aqua: #19d3c5;
  --lightish-red: #f93549;
  --dark: #1d252c;
  --charcoal-grey: #323e48;
  --slate-grey: #5b6670;
  --cloudy-blue: #c1c5c8;
  --powder-blue: #d8dbdd;
  --very-light-blue: #ebeced;
  --green-blue: #00a98f;
  --cool-grey: #a2a9ad;
  --white: #ffffff;
  --pink-red: #eb0045;
  --pastel-orange: #ff9158;
  --light-blue-grey: #c7c7cc;
  --light-salmon: #ffb68d;
  --light-peach: #ffdac5;
  --black: #000000;
  --steel: #7b868c;
  --light-blue-grey: #cfd2d3;
  --ivory: #f7f7f7;
}
@font-face {
  font-family: 'F37Ginger';
  src: url('../fonts/F37Ginger-Family/F37Ginger-Light/F37Ginger-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/F37Ginger-Family/F37Ginger-Light/F37Ginger-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/F37Ginger-Family/F37Ginger-Light/F37Ginger-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/F37Ginger-Family/F37Ginger-Light/F37Ginger-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/F37Ginger-Family/F37Ginger-Light/F37Ginger-Light.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'F37Ginger-Regular';
  src: url('../fonts/F37Ginger-Family/F37Ginger-Regular/F37Ginger-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/F37Ginger-Family/F37Ginger-Regular/F37Ginger-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/F37Ginger-Family/F37Ginger-Regular/F37Ginger-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/F37Ginger-Family/F37Ginger-Regular/F37Ginger-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/F37Ginger-Family/F37Ginger-Regular/F37Ginger-Regular.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'F37Ginger-Bold';
  src: url('../fonts/F37Ginger-Family/F37Ginger-Bold/F37Ginger-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/F37Ginger-Family/F37Ginger-Bold/F37Ginger-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/F37Ginger-Family/F37Ginger-Bold/F37Ginger-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/F37Ginger-Family/F37Ginger-Bold/F37Ginger-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/F37Ginger-Family/F37Ginger-Bold/F37Ginger-Bold.svg') format('svg'); /* Legacy iOS */
}
body{
  padding-top: 50px;
  font-family: F37Ginger-Regular;
  font-size: 14px;
  line-height: 1.2;
  color: var(--steel);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  &.overflow{
    overflow-y: hidden;
  }
}
h1, h2, h3, h4, h5, h6{
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
.transition(@sec){
  -webkit-transition: @sec;
  -moz-transition: @sec;
  -o-transition: @sec;
  transition: @sec;
}
.white{
  color: var(--white) !important;
}
.steel{
  color: var(--steel) !important;
}
.orange{
  color: var(--reddish-orange) !important;
}
.aqua{
  color: var(--aqua) !important;
}
.pink-red{
  color: var(--pink-red) !important;
}
.dark{
  color: var(--dark) !important;
}
.dark-blue-grey{
  color: var(--dark-blue-grey) !important;
}
.lightish-red{
  color: var(--lightish-red) !important;
}
.cool-grey{
  color: var(--cool-grey) !important;
}
.charcoal-grey{
  color: var(--charcoal-grey) !important;
}
.green-blue{
  color: var(--green-blue) !important;
}
.slate-grey{
  color: var(--slate-grey) !important;
}
.bg-ivory{
  background-color: var(--ivory) !important;
}
.bg-aqua{
  background-color: var(--aqua) !important;
}
*{
  &:focus, &:hover{
    text-decoration: none !important;
    outline: none !important;
  }
}
.bttn{
  width: 100%;
  height: 44px;
  border-radius: 4px;
  display: table;
  margin: 15px auto;
  padding: 5px 10px;
  font-size: 16px;
  text-align: center;
  position: relative;
  border: 1px solid;
  box-shadow: 0 0 2px 0 var(--cloudy-blue);
  span{
    position: relative;
    z-index: 1;
    display: table-cell;
    vertical-align: middle;
    line-height: 20px;
  }
  &.bttn-orange{
    background-color: var(--reddish-orange);
    border-color: var(--reddish-orange);
    color: var(--white);
    &.outline{
     background-color: transparent;
     color: var(--reddish-orange); 
    }
  }
  &.bttn-red{
    background-color: var(--lightish-red);
    border-color: var(--lightish-red);
    color: var(--white);
  }
  &.bttn-image{
    color: var(--white);
    img{
      position: absolute;
      left: -1px;
      top: -1px;
      height: 66px;
    }
    span{
      padding-left: 35px;
    }
  }
  &.bttn-google{
    color: #ea4335;
    border-color: #ea4335;
    background-color: transparent;
    span{
      &::before{
        position: relative;
        top: 2px;
        display: inline-block;
        content: url(../images/icons-svg/google-button.svg);
        margin-right: 10px;
      }
    }
  }
  &.bttn-facebook{
    color: #3b5998;
    border-color: #3b5998;
    background-color: transparent;
    span{
      &::before{
        position: relative;
        top: 2px;
        display: inline-block;
        content: url(../images/icons-svg/facebook-button.svg);
        margin-right: 10px;
      }
    }
  }
  &.disable{
    background-color: var(--powder-blue);
    border-color: var(--powder-blue);
    pointer-events: none;
    cursor: not-allowed;
  }
}

.flex-container{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: stretch;
  margin-left: -10px;
  margin-right: -10px;
  // width: 100%;
  .flex-item{
    // width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    .inner{
      display: table;
      width: 100%;
      height: 100%;
      > div{
        display: table-cell;
        vertical-align: middle;
      }
    }
  }  
}
.mtop-30{
  margin-top: 30px !important;
}
.mtop-60{
  margin-top: 60px !important;
}
.mbottom-0{
  margin-bottom: 0px !important;
}
.padding-0-60{
  padding-top: 0px;
  padding-bottom: 60px;
}
.padding-30-60{
  padding-top: 30px;
  padding-bottom: 60px;
}
.padding-30-0{
  padding-top: 30px;
  padding-bottom: 0px;
}
.padding-60{
  padding-top: 60px;
  padding-bottom: 60px;
}
.border-box{
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid var(--cloudy-blue);
  border-radius: 4px; 
  background-color: var(--white);
}
small{
  font-size: 10px;
  display: block;
}
h2{
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--reddish-orange);
}
.title-center-grey{
  display: block;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: var(--slate-grey);
  text-align: center;
}
.title-orange-icon{
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 15px;
  img{
    height: 16px;
  }
  span{
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
  }
}
img{
  max-width: 100%;
}

@media (min-width: 768px) and (max-width: 1199px){
  .container {
      width: 100%;
  }
  .title-center-grey{
    margin-bottom: 30px;
    margin-top: 60px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body{
    font-family: F37Ginger-Regular;
    padding-top: 75px;
  }
}
@media (min-width: 1200px) {
  body{
    font-family: F37Ginger-Regular;
    padding-top: 75px;
    font-size: 18px;
  }
  h2{
    font-size: 24px;
  }
  .bttn{
    height: 61px;
    font-size: 24px;
    &.small{
      height: 61px;
    }
    span{
      line-height: 28px;
    }
    &.bttn-orange{
    }
    &.bttn-red{
    }
    &.bttn-image{
      height: 127px;
      img{
        height: 127px;
      }
      span{
        padding-left: 80px;
      }
    }
    &.bttn-google{
      color: #ea4335;
      border-color: #ea4335;
      background-color: transparent;
      span{
        &::before{
          position: relative;
          top: 2px;
          display: inline-block;
          content: url(../images/icons-svg/google-button.svg);
          margin-right: 10px;
        }
      }
    }
    &.bttn-facebook{
      color: #3b5998;
      border-color: #3b5998;
      background-color: transparent;
      span{
        &::before{
          position: relative;
          top: 2px;
          display: inline-block;
          content: url(../images/icons-svg/facebook-button.svg);
          margin-right: 10px;
        }
      }
    }
  }
  .title-center-grey{
    font-size: 36px;
    margin-bottom: 30px;
    margin-top: 120px;
  }
  .title-orange-icon{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    span{
      display: inline-block;
      vertical-align: middle;
      margin-left: 25px;
    }
    img{
      height: 30px;
    }
  }
  small{
    font-size: 16px;
  }
}

//--------------------------------------------------------- END GENERAL

//--------------------------------------------------------- FORM
.delete{
  position: absolute;
  right: 0;
  top: 50%;
  cursor: pointer;
}
form{
  .input{
    position: relative;
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
    &.partenza{
      &::before{
        position: absolute;
        top: 0;
        left: -20px;
        width: 9px;
        height: 9px;
        display: block;
        content: url(../images/tappe/partenza.svg);
      }
      &::after{
        position: absolute;
        content: url(../images/tappe/dot.svg);
        top: 2px;
        left: -20px;
        width: 9px;
        height: 100%;
        display: block;
      }
    }
    &.arrivo{
      &::before{
        position: absolute;
        top: 0;
        left: -20px;
        width: 9px;
        height: 9px;
        display: block;
        content: url(../images/tappe/arrivo.svg);
      }
      &::after{
        position: absolute;
        content: url(../images/tappe/dot.svg);
        top: 2px;
        left: -20px;
        width: 9px;
        height: 100%;
        display: block;
      }
    }
    &.tappa{
      &::before{
        position: absolute;
        top: 0;
        left: -20px;
        width: 9px;
        height: 9px;
        display: block;
        content: url(../images/tappe/tappa.svg);
      }
      &::after{
        display: none;
      }
      label{
        a{
          color: var(--steel);
        }
      }
    }
  }
  .select-container{
    margin-bottom: 30px;
    label{
      position: absolute;
      z-index: 2;
      margin-left: 12px;
      margin-top: 7px;
      color: var(--steel);
    }
    .bootstrap-select{
      width: 100% !important;
      > .dropdown-toggle{
        height: 42px;
        background-color: var(--ivory);
        border: none;
        box-shadow: none;
        outline: none !important;
        .caret{
          position: absolute;
          top: 50%;
          right: 12px;
          margin-top: -8px;
          vertical-align: middle;
          border: none;
          width: 16px;
          height: 16px;
          background: none;
          content: url(../images/caret.svg);
        }
        .filter-option{
          margin-top: 12px;
        }
        &.bs-placeholder{
         color: var(--slate-grey);
        }
      }
      .dropdown-menu{
        > li{
          > a{
            color: var(--slate-grey);    
            font-size: 12px;
          }
        }
        > .active{
          > a{
           color: var(--white);
           background-color: var(--reddish-orange);
           &:focus, &:hover{
            color: var(--white);
            background-color: var(--reddish-orange);
           } 
          }
        }
      }
      .filter-option-inner-inner{
        color: var(--slate-grey);
        font-size: 12px;
      }
      &.open{
        .caret{
          transform: rotate(180deg);
        }
      }
    }
  }
  label{
    font-size: 10px;
    font-weight: normal;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--cloudy-blue);
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: var(--cloudy-blue);
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: var(--cloudy-blue);
  }
  :-moz-placeholder { /* Firefox 18- */
    color: var(--cloudy-blue);
  }
  input[type="text"]{
    display: block;
    width: 100%;
    border: none;
    color: var(--slate-grey);
    background-color: transparent;
    height: auto;
    font-size: 12px;
    text-align: left;
    border-bottom: 1px solid var(--cloudy-blue);
    border-radius: 0;
    padding-bottom: 5px;
    outline: none;
  }
  input[type="email"]{
    display: block;
    width: 100%;
    border: none;
    color: var(--slate-grey);
    background-color: transparent;
    height: auto;
    font-size: 12px;
    text-align: left;
    border-bottom: 1px solid var(--cloudy-blue);
    border-radius: 0;
    padding-bottom: 5px;
    outline: none;
  }
  input[type="tel"]{
    display: block;
    width: 100%;
    border: none;
    color: var(--slate-grey);
    background-color: transparent;
    height: auto;
    font-size: 12px;
    text-align: left;
    border-bottom: 1px solid var(--cloudy-blue);
    border-radius: 0;
    padding-bottom: 5px;
    outline: none;
  }
  input[type="password"]{
    display: block;
    width: 100%;
    border: none;
    color: var(--slate-grey);
    background-color: transparent;
    height: auto;
    font-size: 12px;
    text-align: left;
    border-bottom: 1px solid var(--cloudy-blue);
    border-radius: 0;
    padding-bottom: 5px;
    outline: none;
  }
  textarea{
    display: block;
    width: 100%;
    border: none;
    color: var(--slate-grey);
    background-color: var(--ivory);
    min-height: 80px;
    font-size: 12px;
    text-align: left;
    border-radius: 4px;
    padding: 15px;
    outline: none;
  }
  input[type="submit"]{
    margin-top: 26px;
  }
  .checkbox, .radio{
    display: table;
    min-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    &::before, &::after{
      display: table;
      clear: both;
      content: "";
    }
  }
  input[type="radio"]{
    position: absolute;
    z-index: 1;
    clip: rect(0px, 0px, 0px, 0px);
    width: 19px;
    height: 19px;
    margin: 0 !important;
    padding: 0;
    & + label{
      position: relative;
      z-index: 0;
      padding-left: 25px;
      font-size: 14px;
      margin-left: -25px;
      font-weight: normal;
      color: var(--aqua);
      display: inline;
      vertical-align: middle;
      .radio-button{
        position: absolute;
        left: 0px;
        top: 0;
        z-index: 0;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        border: solid 1px var(--cloudy-blue);
        background-color: var(--ivory);
        i{
          position: absolute;
          top: 3px;
          left: 3px;
          visibility: hidden;
          opacity: 0;
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background-color: transparent;
          .transition(.2s);
        }
      }
      a{
        white-space: nowrap;
        color: var(--steel);
      }
    }
    &:checked + label {
      .radio-button{
        border-color: var(--reddish-orange);
        i{
          visibility: visible;
          opacity: 1;
          background-color: var(--reddish-orange);
        }
      }
    }
  }
  input[type="checkbox"]{
    position: absolute;
    z-index: 1;
    clip: rect(0px, 0px, 0px, 0px);
    width: 19px;
    height: 19px;
    margin: 0 !important;
    padding: 0;
    & + label{
      position: relative;
      z-index: 0;
      padding-left: 30px;
      font-size: 10px;
      font-weight: normal;
      line-height: 1.08;
      color: var(--cool-grey);
      display: table-cell;
      vertical-align: middle;
      .check-button{
        position: absolute;
        left: 0px;
        top: 0;
        z-index: 0;
        width: 19px;
        height: 19px;
        border-radius: 2px;
        border: solid 1px var(--cloudy-blue);
        background-color: var(--ivory);
        i{
          position: absolute;
          top: 3px;
          left: 3px;
          visibility: hidden;
          opacity: 0;
          width: 11px;
          height: 11px;
          border-radius: 0px;
          background-color: transparent;
          .transition(.2s);
        }
      }
      a{
        white-space: nowrap;
        color: var(--steel);
      }
    }
    &:checked + label {
      .check-button{
        border-color: var(--reddish-orange);
        i{
          visibility: visible;
          opacity: 1;
          background-color: var(--reddish-orange);
        }
      }
    }
  }
}

form.newsletter{
  margin-top: 40px;
  label{
    font-weight: normal;
    text-align: left;
  }
  .checkbox{
    margin-top: 10px;
  }
  input[type="submit"]{
    margin-top: 30px;
    margin-bottom: 0;
    border: none;
  }

  input[type="email"]{
    display: block;
    width: 100%;
    height: 53px;
    border-radius: 4px;
    color: var(--slate-grey);
    border: solid 1px var(--cloudy-blue);
    background-color: var(--ivory);
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: var(--slate-grey);
    &:focus{
     outline-color: var(--aqua); 
    }
  }
}

&.box-input{
  padding: 5px 10px;
  background-color: var(--ivory);
  border-radius: 4px;
  &::after{
    content: url(../images/tappe/dot-big.svg) !important;
  }
  hr{
    margin: 5px -10px 5px -10px;
    border-color: var(--very-light-blue);
  }
  .citta{
    display: block;
    font-size: 12px;
    color: var(--slate-grey);
  }
  .data-ora{
    &::before, &::after{
      clear: both;
      display: table;
      content: "";
    }
    > div{
      display: block;
      float: left;
      width: 50%;
      height: 30px;
      padding: 7px 0;
      &.data{
        span{
          &::before{
            position: relative;
            top: -1px;
            display: inline-block;
            vertical-align: middle;
            content: url(../images/icons-svg/calendar.svg);
            margin-right: 0px;
          }
          input[type="text"]{
            display: inline-block;
            width: calc(~"100% - 30px");
            font-size: 12px;
          }
        }
      }
      &.ora{
        position: relative;
        &::before{
          position: absolute;
          top: -5px;
          bottom: -5px;
          left: -10px;
          content: "";
          width: 1px;
          background-color: var(--very-light-blue);
        }
        span{
          &::before{
            position: relative;
            top: -1px;
            display: inline-block;
            vertical-align: middle;
            content: url(../images/icons-svg/orologio.svg);
            margin-right: 0px;
          }
          input[type="text"]{
            display: inline-block;
            width: calc(~"100% - 30px");
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
form{
    .input{
      &:last-child{
        &::after{
        }
      }
      &::before{
      }
      &::after{
      }
      &.partenza{
        &::before{
        }
      }
      &.arrivo{
        &::before{
        }
      }
      &.tappa{
        &::before{
        }
      }
    }
    .select-container{
      label{
      }
      .bootstrap-select{
        > .dropdown-toggle{
          height: 57px;
          .caret{
          }
          .filter-option{
          }
          &.bs-placeholder{
          }
        }
        .dropdown-menu{
          > li{
            > a{
              font-size: 16px;
            }
          }
          > .active{
            > a{
             &:focus, &:hover{
             } 
            }
          }
        }
        .filter-option-inner-inner{
          font-size: 16px;
        }
        &.open{
          .caret{
          }
        }
      }
    }
    label{
      font-size: 12px;
    }
    input[type=text]{
      font-size: 16px;
    }
    input[type=email]{
      font-size: 16px;
    }
    input[type=password]{
      font-size: 16px;
    }
    input[type=tel]{
      font-size: 16px;
    }
    textarea{
      font-size: 16px;
    }
    input[type="submit"]{
      margin-top: 26px;
      padding-left: 90px;
      padding-right: 90px;
    }
    input[type="radio"]{
      & + label{
        font-size: 30px;
        .radio-button{
          left: -10px;
          top: 6px;
          z-index: 0;
          width: 24px;
          height: 24px;
          i{
            top: 5px;
            left: 5px;
            visibility: hidden;
            opacity: 0;
            width: 12px;
            height: 12px;
          }
        }
        a{
        }
      }
      &:checked + label {
        .radio-button{
          i{
          }
        }
      }
    }
    input[type=checkbox]{
      & + label{
        font-size: 12px;
        .check-button{
          i{
          }
        }
        a{
        }
      }
      &:checked + label {
        .check-button i{
        }
      }
    }
  }
  form.newsletter{
    label{
      font-weight: normal;
    }
    .checkbox{
      margin-top: 30px;
      text-align: left;
    }
    input[type=submit]{
      margin-top: 60px;
    }

    input[type="email"]{
      display: block;
      width: 100%;
      height: 53px;
      border-radius: 4px;
      border: solid 1px var(--cloudy-blue);
      background-color: var(--ivory);
      font-size: 14px;
      line-height: 1.2;
      text-align: center;
      color: var(--slate-grey);
      &:focus{
       outline-color: var(--aqua); 
      }
    }
  }
}


//--------------------------------------------------------- END FORM


//--------------------------------------------------------- HEADER
.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 50px;
  background: var(--white);
  text-align: center;
  padding: 18px 0;
  .logo-container{
    display: block;
    margin: 0 auto;
    width: 70px;
  }
  .menu-mobile-icon{
    position: absolute;
    top: 0px;
    left: 15px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    &:hover, &:active, &:focus{
      outline: none !important;
    }
    *{
      &:hover, &:active, &:focus{
        outline: none !important;
      }
    }
    .icon-bars{
      display: block;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
      border: none;
      position: relative;
      height: 15px;
      width: 15px;
      vertical-align: middle;
      background-color: transparent;
      background-image: none;
      .icon-bar {
        display: block;
        width: 15px;
        height: 2px;
        border-radius: 3px;
        background-color: var(--reddish-orange);
        .transition(.3s);
        &+.icon-bar{
          margin-top: 4px;
        }
        &:nth-child(1) {
          transform: rotate(45deg);
          transform-origin: 10% 10%;
          width: 22px;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
          transform-origin: 10% 90%;
          width: 22px;
        }
      }
      &.collapsed{
        .icon-bar:nth-child(1) {
          transform: rotate(0);
          width: 15px;
        }
        .icon-bar:nth-child(2) {
          opacity: 1;
        }
        .icon-bar:nth-child(3) {
          transform: rotate(0);
          width: 15px;
        }
      }
    }
  }
  .logo-header{
    height: 15px;
    display: block;
    margin: 0 auto;
  }
  .main-menu{
    ul{
      margin: 0;
      padding: 0;
      li{
        margin: 0;
        margin-top: 15px;
        padding: 0;
        list-style: none;
        display: inline-block;
        a{
          font-size: 16px;
          color: var(--slate-grey);
        }
        &.lang{
          margin-top: 0; 
          span{
            font-size: 16px;
            color: var(--slate-grey);
            margin-left: -2px;
            margin-right: -2px;
          }
          li{
            margin-top: 0;
            display: inline-block;
            a{
              letter-spacing: 0;
              text-transform: uppercase;
            }
            &.active{
              a{
                font-family: 'F37Ginger-Bold';
                color: var(--dark-blue-grey);
              }
            }
          }
        }
      }
    }
  }
}
#sidebar {
  width: 270px;
  position: fixed;
  top: 50px;
  left: -100%;
  height: calc(~"100vh - 50px");
  z-index: 9;
  background-color: var(--ivory);
  .transition(.3s);
  overflow-y: scroll;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.24), 0 0 16px 0 rgba(0, 0, 0, 0.18);
  .menu-no-logged{
    text-align: center;
    margin-bottom: -50px;
    .banner-menu{
      width: 100%;
    }
    .bttn{
      position: relative;
      display: inline-block;
      height: 30px;
      font-size: 14px;
      text-align: center;
      width: auto;
      margin-top: 0;
      top: -45px;
    }
  }
  .menu-logged{
    text-align: center;
    background-color: var(--white);
    .banner-menu{
      width: 100%;
    }
    .utente{
      width: 60px;
      height: 60px;
      border-radius: 100%;
      border: 1px solid var(--light-blue-grey);
      background-color: var(--white);
      position: relative;
      top: -50px;
      margin-bottom: -50px;
      display: inline-block;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
    .name{
      display: block;
      color: var(--reddish-orange);
      font-size: 10px;
    }
    .menu{
      text-align: left;
      margin: 15px 0;
      padding: 0;
      li{
        display: block;
        list-style: none;
        margin: 0 0 10px 0;
        &:last-child{
          margin-bottom: 0;
        }
        a{
          font-size: 14px;
          color: var(--dark-blue-grey);
          &.red{
            color: var(--lightish-red);
          }
        } 
      }
    }
  }
  .main-menu{
    background: var(--ivory);
    padding: 30px 0;
    .nav-menu{
      ul{
        margin: 0;
        padding: 0;
        li{
          margin: 0;
          margin-top: 15px;
          padding: 0;
          list-style: none;
          display: block;
          a{
            font-size: 14px;
            color: var(--slate-grey);
          }
          &.lang{
            margin-top: 0; 
            span{
              font-size: 14px;
              color: var(--slate-grey);
              margin-left: -2px;
              margin-right: -2px;
            }
            li{
              margin-top: 0;
              display: inline-block;
              a{
                letter-spacing: 0;
                text-transform: uppercase;
              }
              &.active{
                a{
                  font-family: 'F37Ginger-Bold';
                  color: var(--dark-blue-grey);
                }
              }
            }
          }
        }
      }
    }
    .submenu{
      margin: 0;
      padding: 0;
      margin-top: 30px;
      &::before, &::after{
        display: table;
        content: "";
        clear: both;
      }
      li{
        display: block;
        margin: 0;
        padding: 0;
        margin-top: 10px;
        list-style: none;
        a{
          font-size: 12px;
          color: var(--slate-grey);
        }
        &:first-child{
          margin-top: 0;
        }
      }
    }
  }
}
#sidebar.active {
    left: 0;
}
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{
  height: 100%;
}
.menu-mobile-overlay {
  display: none;
  position: fixed;
  top: 50px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 8;
  opacity: 0;
  .transition(.3s);
}
.menu-mobile-overlay.active {
    display: block;
    opacity: 1;
}

@media (min-width: 992px) {
  .header{
    height: 75px;
    padding: 0;
    .logo-container{
      display: block;
      margin: 18px 0;
    }
    .logo-header{
      height: 40px;
      margin: 0;
    }
    .main-menu{
      text-align: right;
      > ul{
        > li{
          margin-top: 0;
          vertical-align: middle;
          margin-left: 20px;
          .bttn{
            color: var(--white);
            height: 30px;
            margin-top: 0;
            margin-bottom: 0;
          }
          &.lang{
            margin-left: 0;
            ul{
            }
            span{
            }
            li{
              a{
              }
              &.active{
                a{
                }
              }
            }
          }
          &.menu-no-logged{
            margin-top: 18px;
            margin-bottom: 18px;
          }
          &.menu-logged{
            position: relative;
            margin-top: 10px;
            margin-bottom: 10px;
            .utente{
              width: 55px;
              height: 55px;
              border-radius: 100%;
              border: 1px solid var(--light-blue-grey);
              background-color: var(--white);
              position: relative;
              overflow: hidden;
              img{
                width: 100%;
              }
            }
            .menu{
              position: absolute;
              top: 100%;
              right: 0;
              min-width: 150px;
              background-color: var(--white);
              visibility: hidden;
              padding: 15px;
              opacity: 0;
              .transition(.3s);
              li{
                a{
                  &.red{
                    color: var(--lightish-red);
                  }
                }
              }
            }
            &:hover{
              .menu{
                visibility: visible;
                opacity: 1;
                li{
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}

//--------------------------------------------------------- END HEADER

//--------------------------------------------------------- PROFILO UTENTE

.profilo-utente{
  background-color: var(--ivory);
  .banner-menu{
    display: block;
    width: 100%;
    *{
      width: 100%;
    }
  }
  .utente{
    width: 84px;
    height: 84px;
    border-radius: 100%;
    border: 1px solid var(--light-blue-grey);
    background-color: var(--white);
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  .name{
    position: relative;
    display: block;
    color: var(--reddish-orange);
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--light-blue-grey);
    a{
      position: absolute;
      right: 0;
      top: -3px;
      img{
        height: 16px;
      }
    }
  }
  ul.info{
    margin: 0;
    padding: 0;
    text-align: left;
    li{
      margin: 0;
      padding: 0;
      list-style: none;
      margin-bottom: 10px;
      span{
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
        font-size: 12px;
        color: var(--steel);
      }
    }
  }
  .nav-profile{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    li{
      margin: 0;
      padding: 0;
      list-style: none;
      width: 33.33333333%;
      display: block;
      float: left;
      a{
        display: block;
        text-align: center;
        padding: 12px 5px;
        background-color: var(--white);
        border-bottom: 2px solid var(--light-blue-grey);
        color: var(--steel);
      }
      &.active{
        a{
          color: var(--reddish-orange);
          border-bottom: 2px solid var(--reddish-orange);
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .profilo-utente{
    background-color: var(--white);
    .banner-menu{
      *{
      }
    }
    .utente{
      width: 171px;
      height: 171px;
      top: -85px;
      margin-bottom: -85px;
      img{
      }
    }
    .name{
      font-size: 35px;
      margin-top: 20px;
      margin-bottom: 50px;
      border-bottom: none;
      a{
        img{
          height: 36px;
        }
      }
    }
    ul.info{
      text-align: center;
      padding-bottom: 40px;
      &::before, &::after{
        clear: both;
        content: "";
        display: table;
      }
      li{
        margin-bottom: 0px;
        display: inline-block;
        width: 33%;
        img{
          height: 36px;
          margin-bottom: 25px;
        }
        span{
          display: block;
          margin-left: 0px;
          font-size: 18px;
        }
      }
    }
    .nav-profile{
      margin-top: 80px;
      li{
        a{
          padding: 15px 5px;
          font-size: 24px;
        }
        &.active{
          a{
          }
        }
      }
    }
  }
}

//--------------------------------------------------------- END PROFILO UTENTE

//--------------------------------------------------------- BANNER
.banner{
  width: 100%;
  img{
    width: 100%;
  }
}

.banner-bg{
  position: relative;
  width: 100%;
  text-align: center;
  .inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    > div{
      display: table;
      width: 100%;
      height: 100%;
      > div{
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .title{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--white);
    font-family: 'F37Ginger-Bold';
  }
  .subtitle{
    font-size: 14px;
    color: var(--white);
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'F37Ginger-Regular';
  }
}

@media (min-width: 1200px) {
  // BANNER BG
  .banner-bg{
    .title{
      font-size: 44px;
      margin-bottom: 45px;
    }
    .subtitle{
      font-size: 30px;
    }
  }
}

//--------------------------------------------------------- END BANNER

//--------------------------------------------------------- TOP BUTTON HP
.top-button-hp{
  .bttn{
    margin-bottom: 0;
    max-width: 475px;
    height: 66px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .top-button-hp{
    padding-top: 60px;
    .bttn{
      margin-top: 0px;
    }
    .bttn-orange{
      float: left;
    }
    .bttn-red{
      float: right;
    }
  }
}

@media (min-width: 1200px) {

  .top-button-hp{
    padding-top: 60px;
    .bttn{
      margin-top: 0px;
      height: 127px;
    }
    .bttn-orange{
      float: left;
    }
    .bttn-red{
      float: right;
    }
  }
}

//--------------------------------------------------------- END TOP BUTTON HP

//--------------------------------------------------------- COME FUNZIONA
.come-funziona{
  padding-top: 60px;
  text-align: center;
  h2{
    margin-top: 0;
  }
  img{
    width: 100%;
  }
  p{
    margin-bottom: 30px;
  }
  .flex-container{
    .flex-item{
      &:nth-child(1){
        order: 2;
      }
      &:nth-child(2){
        order: 1;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .come-funziona{
    padding-top: 120px;
    padding-bottom: 60px;
    text-align: left;
    h2{
    }
    img{
      width: 100%;
      max-width: 450px;
    }
    p{
      margin-bottom: 0px;
      line-height: 1.2;
    }
    .flex-container{
      flex-direction: row;
      .flex-item{
        width: 50%;
        &:nth-child(1){
          order: 1;
        }
        &:nth-child(2){
          order: 2;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .come-funziona{
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: left;
    h2{
      font-size: 36px;
      margin-bottom: 60px;
    }
    img{
      width: 100%;
      max-width: 450px;
    }
    p{
      margin-bottom: 0px;
      font-size: 30px;
      line-height: 1.2;
    }
    .flex-container{
      flex-direction: row;
      .flex-item{
        width: 50%;
        &:nth-child(1){
          order: 1;
        }
        &:nth-child(2){
          order: 2;
        }
      }
    }
  }
}

//--------------------------------------------------------- END COME FUNZIONA

//--------------------------------------------------------- SOLUZIONE
.soluzione{
  padding-top: 60px;
  text-align: center;
  h2{
    margin-bottom: 30px;
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .soluzione{
    background-color: var(--ivory);
    padding-top: 60px;
    padding-bottom: 60px;
    h2{
      margin-top: 0;
    }
  }
}

@media (min-width: 1200px) {
  .soluzione{
    background-color: var(--ivory);
    padding-top: 60px;
    padding-bottom: 60px;
    h2{
      margin-bottom: 60px;
      margin-top: 0;
      font-size: 36px;
    }
  }
}
//--------------------------------------------------------- END SOLUZIONE

//--------------------------------------------------------- VANTAGGI
.vantaggi{
  padding-top: 45px;
  padding-bottom: 60px;
  text-align: center;
  h2{
    margin-bottom: 30px;
    margin-top: 0;
  }
  .span{
    img{
      margin-bottom: 15px;
      height: 28px;
      margin-right: 15px;
    }
    span{
      margin-bottom: 15px;
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      color: var(--aqua);
    }
  }
  p{
    margin-bottom: 0;
  }
  .inner{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .vantaggi{
    padding-top: 60px;
    padding-bottom: 60px;
    h2{
      margin-bottom: 30px;
    }
    .span{
      img{
        margin-bottom: 15px;
        height: 41px;
        margin-right: 0px;
      }
      span{
        display: block;
        margin-bottom: 15px;
      }
    }
    p{
    }
    .inner{
      margin-bottom: 0px;
      &:last-child{
      }
    }
  }
}

@media (min-width: 1200px) {
  .vantaggi{
    padding-top: 120px;
    padding-bottom: 120px;
    h2{
      margin-bottom: 60px;
      font-size: 36px;
    }
    .span{
      img{
        margin-bottom: 15px;
        height: 41px;
        margin-right: 0px;
      }
      span{
        display: block;
        margin-bottom: 15px;
        font-size: 26px;
      }
    }
    p{
      font-size: 20px;
    }
    .inner{
      margin-bottom: 0px;
      &:last-child{
      }
    }
  }
}
//--------------------------------------------------------- END VANTAGGI

//--------------------------------------------------------- VANTAGGI NOLEGGIATORI
.vantaggi-noleggiatori{
  padding-top: 45px;
  padding-bottom: 60px;
  text-align: center;
  h2{
    margin-bottom: 30px;
    margin-top: 0;
  }
  img{
    margin-bottom: 15px;
    height: 45px;
  }
  p{
    margin-bottom: 0;
  }
  .inner{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .vantaggi-noleggiatori{
    padding-top: 60px;
    padding-bottom: 60px;
    h2{
      margin-bottom: 30px;
    }
    img{
      margin-bottom: 15px;
      height: 41px;
      margin-right: 0px;
    }
    p{
    }
    .inner{
      float: none;
      display: inline-block;
      margin-left: -6px;
      vertical-align: top;
      &:last-child{
      }
    }
  }
}

@media (min-width: 1200px) {
  .vantaggi-noleggiatori{
    padding-top: 120px;
    padding-bottom: 120px;
    h2{
      margin-bottom: 60px;
      font-size: 36px;
    }
    img{
      margin-bottom: 15px;
      height: 60px;
      margin-right: 0px;
    }
    p{
      font-size: 20px;
    }
    .inner{
      float: none;
      display: inline-block;
      margin-left: -6px;
      margin-bottom: 50px;
      vertical-align: top;
      &:last-child{
      }
    }
  }
}
//--------------------------------------------------------- END VANTAGGI

//--------------------------------------------------------- PROPONE
.propone{
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: var(--dark-blue-grey);
  h2{
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
    color: var(--white);
  }
  p{
    margin-bottom: 0;
  }
  .bttn{
    margin-bottom: 0;
    margin-top: 30px;
  }
  .scheda01{
    .inner:nth-child(3n + 1){
      clear: none;
    }
  }
}

@media (min-width: 1200px) {
  .propone{
    padding-top: 60px;
    padding-bottom: 120px;
    h2{
      font-family: 'F37Ginger-Bold';
      margin-bottom: 60px;
      font-size: 36px;
    }
    p{
    }
    .bttn{
    }
  }
}
//--------------------------------------------------------- END PROPONE


//--------------------------------------------------------- SCHEDA 01
.scheda01{
  *{
    outline: none;
  }
  .inner{
    & > div{
      width: 100%;
      border-radius: 4px;
      border: solid 1px var(--cloudy-blue);
      background-color: var(--white);
      padding: 30px 0px 30px 0px;
      min-height: 185px;
    }
    .event{
      text-align: left;
      margin-bottom: 30px;
      img{
        width: 15%;
        display: inline-block;
      }
      span{
        font-size: 12px;
        display: inline-block;
        width: calc(~"70%");
        vertical-align: middle;
        padding-left: 10px;
      }
    }
    .viaggi{
      text-align: left;
      > div{
        &:nth-child(1){
          padding-right: 0;
        }
        &:nth-child(2){
          text-align: center;
        }
        &:nth-child(3){
          padding-left: 0;
        }
        &:nth-child(1), &:nth-child(3){
          margin-bottom: 15px;
          .citta{
            display: block;
            font-size: 16px;
            color: var(--dark);
            margin-bottom: 5px;
            // white-space: nowrap;
            // overflow: hidden;
            // text-overflow: ellipsis;
          }
          .indirizzo{
            display: block;
            font-size: 10px;
            margin-bottom: 5px;
            color: var(--slate-grey);
            // white-space: nowrap;
            // overflow: hidden;
            // text-overflow: ellipsis;
          }
          .data{
            display: block;
            font-size: 8px;
            color: var(--cool-grey);
          }
        }
      }
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  .credito-posti{
    text-align: left;
    &::before, &::after{
      clear: both;
    }
    > div{
      margin-bottom: 0;
    }
    .span{
      img{
        height: 24px;
        margin-right: 7px;
        margin-bottom: 5px;
      }
      span{
        font-size: 20px;
        display: inline-block;
        vertical-align: middle;
        color: var(--aqua);
      }
      &.posti{
        span{
          font-size: 16px;
          color: var(--steel);
          b{
            font-size: 20px;
            margin-bottom: 0;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            display: inline-block;
            vertical-align: baseline;
            color: var(--reddish-orange);
          }
        }
      }
    }
    .per-biglietto{
      font-size: 12px;
      color: var(--steel);
    }
  }
  .opzioni{
    > div{
      padding-right: 0;
      margin-right: -10px;
    }
    img{
      height: 24px;
      margin-bottom: 5px;
    }
    span{
      display: block;
      font-size: 12px;
      &.big{
        margin-top: 7px;
        font-size: 18px;
      }
    }
  }
  .dettaglio{
    span{
      &.exc{
        color: var(--dark-blue-grey);
      }
      &.small{
        font-size: 10px;    
        margin-top: 5px;    
      }
    }
    .extra{
      margin-top: 17px;
      small{
        font-size: 8px;
        margin-top: 3px;
      }
    }
  }
  &.scheda01-b{
    .inner{
      margin-top: 5px;
      position: relative;
      z-index: 1;
      &.exc{
        height: auto; 
      }
      > div{
        position: relative;
        padding-top: 35px;
        cursor: pointer;
        overflow: hidden;
        min-height: 0;
        .id-viaggio{
          position: absolute;
          top: 15px;
          left: 0px; 
          width: 100%;         
          span{
            display: block;
            color: var(--cloudy-blue);
            font-size: 8px;
            letter-spacing: 0;
          }
        }
        &::before{
          position: absolute;
          top: 10px;
          right: 10px;
          width: 20px;
          height: 18px;
          cursor: pointer;
          content: url(../images/caret.svg);
          transform: rotate(-90deg);
          .transition(.3s);
        }
        &.no-open{
          cursor: default;
          &::before{
            display: none;
          }
        }
      }
      .excd{
        max-height: 0;
        visibility: hidden;
        opacity: 0;
        *{
          max-height: 0;
          visibility: hidden;
          opacity: 0;
        }
      }
      &.open{
        z-index: 2;
        > div{
          box-shadow: 0 0 3px 3px var(--cloudy-blue);
          padding-bottom: 0;
          &::before{
            transform: rotate(0deg);
          }
        }
        *{
          max-height: 1000px !important;
          visibility: visible !important;
          opacity: 1 !important;
        }
      }
      &.end.open{
        > div{
          padding-bottom: 30px;
        }
      }
      &:first-child{
        margin-top: 10px;
      }
      .itinerario{
        .title{
          color: var(--charcoal-grey);
          font-size: 10px;
          display: block;
          margin-bottom: 5px;
          img{
            height: 19px;
            margin-left: -4px;
          }
        }
        table{
          width: 100%;
          thead{
            display: block;
            width: 100%;
            tr{
              margin-bottom: 10px;
              th{
                font-weight: normal;
                img{
                  height: 19px;
                }
                span{
                  font-size: 10px;
                  color: var(--slate-grey);
                  display: inline-block;
                  margin-left: -5px;
                  margin-bottom: 5px;
                  margin-right: 10px;
                }
                &:last-child{
                  span{
                  }
                }
              }
            }
          }
          tbody{
            display: block;
            height: 70px;
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            &::-webkit-scrollbar {
              -webkit-appearance: none;
              width: 4px;
              position: relative;
            }
            &::-webkit-scrollbar-thumb {
              border-radius: 100px;
              background-color: rgba(0, 0, 0, .5);
              -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
            }
            tr{
              td{
                vertical-align: top;
                span{
                  font-size: 9px;
                  color: var(--steel);
                  padding-left: 15px;
                  margin-top: 5px;
                  display: inline-block;
                  letter-spacing: 0px;
                  margin-right: 10px;
                }
                &:last-child{
                  span{
                  }
                }
              }
              &:last-child{
                td{
                  span{
                    margin-bottom: 20px;
                  }
                }
              }
            }
          }
        }
      }
      .mezzo{
        img{
          height: 30px;
          margin-right: 10px;
        }
        span{
          font-size: 14px;
          display: inline-block;
          vertical-align: middle;
          span{
            font-size: 20px;
            margin-left: 10px;
          }
        }
      }
      .cliente{
        ul{
          margin: 0;
          padding: 0;
          &::before, &::after{
            clear: both;
            display: table;
            content: "";
          }
        }
        .info{
          text-align: left;
          li{
            margin-bottom: 10px;
            span{
              display: inline-block;
              vertical-align: middle;
              margin-left: 15px;
              font-size: 12px;
              color: var(--steel);
            }
          }
        }
      }
      .event{
        margin-bottom: 0;
      }
      .acquista > div{
        background-color: var(--very-light-blue);
        padding-top: 20px;
        padding-bottom: 20px;
        .bttn{
          margin: 0;
        }
        .bttn-transparent{
          border: none;
          padding-left: 0;
          text-align: left;
          box-shadow: none;
          span{
            font-size: 12px;
          }
        }
        a.orange{
          line-height: 44px;
        }
      }
      &.exc{
        > div{
          cursor: default;
          &::before{
            display: none;
          }
        }
      }
    }
  }
  .scheda03{
    .inner{
      margin-bottom: 20px;
    }
    .item .radio input[type="radio"] + label{
      font-size: 12px;
      padding: 0 0 0 0px;
    }
    input[type="radio"] + label .radio-button{
      top: -1px;
    }
    .inner > div{
      padding-top: 15px;
      min-height: 0;
      padding-bottom: 10px;
      .steel{
        padding-left: 25px;
        img{
          height: 15px;
        }
      }
    }
    .item .radio input[type="radio"] + label .plus {
      margin-bottom: 0px !important;
      text-align: left;
    }
    .item .radio input[type="radio"]:checked + label .plus {
      margin-top: 15px;
      border-top: 1px solid var(--ivory);
      padding-top: 15px;
    }
    .item .radio .caret{
      height: 15px;
    }
    .radio input[type="radio"] + label .plus label{
      padding-left: 0;
      color: var(--steel);
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .scheda01{
    .inner{
      .event{
        > div{
          &:nth-child(1){
            img{
            }
          }
          &:nth-child(2){
            p{
            }
          }
        }
      }
      .viaggi{
        height: 110px;
        > div{
          &:nth-child(1), &:nth-child(3){
            .citta{
            }
            .indirizzo{
            }
            .data{
            }
          }
        }
      }
      .credito-posti{
        > div{
        }
        .span{
          img{
          }
          span{
          }
          &.posti{
            span{
              b{
              }
            }
          }
        }
        .per-biglietto{
        }
      }
      .opzioni{
        > div{
        }
        img{
        }
        span{
          &.big{
          }
        }
      }
      .dettaglio{
        span{
          &.exc{
          }
          &.small{
          }
        }
        .extra{
          small{
          }
        }
      }
      &:nth-child(2n + 1){
        clear: both;
      }
    }
    &.scheda01-b{
      .inner{
        margin-top: 10px;
        position: relative;
        z-index: 1;
        > div{
          &::before{
          }
        }
        .excd{
          *{
          }
        }
        &.open{
          > div{
            &::before{
            }
          }
          *{
          }
        }
        .itinerario{
          .title{
            img{
            }
          }
          table{
            thead{
              tr{
                th{
                  img{
                  }
                  span{
                  }
                  &:last-child{
                    span{
                    }
                  }
                }
              }
            }
            tbody{
              tr{
                td{
                  span{
                  }
                  &:last-child{
                    span{
                    }
                  }
                }
                &:last-child{
                  td{
                    span{
                    }
                  }
                }
              }
            }
          }
        }
        .mezzo{
          img{
          }
          span{
            span{
            }
          }
        }
        .event{
        }
        .acquista > div{
          .bttn{
          }
          a.orange{
          }
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .scheda01{
    .inner{
      visibility: visible;
      > div{

      }
      .event{
        margin-bottom: 10px;
        > div{
          &:nth-child(1){
            img{
            }
          }
          &:nth-child(2){
            p{
            }
          }
        }
      }
      .viaggi{
        height: 150px;
        > div{
          &:nth-child(1), &:nth-child(3){
            .citta{
              font-size: 20px;
            }
            .indirizzo{
              font-size: 12px;
            }
            .data{
              font-size: 10px;
            }
          }
        }
      }
      .credito-posti{
        > div{
          margin-bottom: 0;
        }
        .span{
          img{
            height: 30px;
          }
          span{
          }
          &.posti{
            span{
              font-size: 16px;
              color: var(--steel);
              b{
                font-size: 20px;
                margin-bottom: 0;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                display: inline-block;
                vertical-align: baseline;
                color: var(--reddish-orange);
              }
            }
          }
        }
        .per-biglietto{
          font-size: 12px;
          color: var(--steel);
        }
      }
      .opzioni{
        > div{
        }
        img{
          height: 30px;
          margin-bottom: 10px;
        }
        span{
          font-size: 14px;
          &.big{
            margin-top: 15px;
            font-size: 26px;
          }
        }
      }
      .dettaglio{
        span{
          &.exc{
          }
          &.small{
            font-size: 12px;    
            margin-top: 15px;    
          }
        }
        .extra{
          margin-top: 30px;
          small{
            font-size: 12px;
            margin-top: 15px;
          }
        }
      }
      &:nth-child(3n + 1){
        clear: both;
      }
    }
    &.scheda01-b{
      .inner{
        height: 267px;
        margin-top: 30px;
        &:first-child{
          margin-top: 30px;
        }
        > div{
          &::before{
          }
        }
        .excd{
          *{
          }
        }
        &.open{
          > div{
            &::before{
            }
          }
          *{
          }
        }
        .itinerario{
          .title{
            font-size: 12px;
            img{
            }
          }
          table{
            thead{
              tr{
                th{
                  img{
                  }
                  span{
                  }
                  &:last-child{
                    span{
                    }
                  }
                }
              }
            }
            tbody{
              tr{
                td{
                  span{
                  }
                  &:last-child{
                    span{
                    }
                  }
                }
                &:last-child{
                  td{
                    span{
                    }
                  }
                }
              }
            }
          }
        }
        .cliente{
          ul{
            margin: 0;
            padding: 0;
            &::before, &::after{
              clear: both;
              display: table;
              content: "";
            }
          }
          .info{
            li{
              display: block;
              width: 100%;
              list-style: none;
              img{
                height: 16px;
                margin-bottom: 0px;
              }
              span{
              }
            }
          }
        }
        .mezzo{
          img{
          }
          span{
            span{
            }
          }
        }
        .event{
        }
        .acquista > div{
          .bttn{
            height: 40px;
            font-size: 16px;
          }
          a.orange{
            line-height: 40px;
          }
        }
      }
    }
    .scheda03{
      .inner{
      }
      .item .radio input[type="radio"] + label{
        font-size: 16px;
      }
      input[type="radio"] + label .radio-button{
        top: -3px;
      }
      .inner > div{
        .steel{
          img{
            height: 25px;
            margin-top: -3px;
          }
        }
      }
      .item .radio input[type="radio"] + label .plus {
      }
      .item .radio input[type="radio"]:checked + label .plus {
      }
      .item .radio .caret{
      }
      .radio input[type="radio"] + label .plus label{
      }
    }
  }
}
//--------------------------------------------------------- END SCHEDA 01

//--------------------------------------------------------- SCHEDA 02
.scheda02{
  text-align: center;
  img{
    margin-bottom: 20px;
    height: 51px;
  }
  p{
    margin-bottom: 0;
    min-height: 68px;
  }
  .bttn{
    margin-bottom: 0;
    margin-top: 30px;
  }
  > div{
    > div{
      margin-bottom: 15px;
      .inner{
        width: 100%;
        border-radius: 4px;
        border: solid 1px var(--cloudy-blue);
        background-color: var(--white);
        padding: 30px 0px 30px 0px;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}


@media (min-width: 1200px) {
  .scheda02{
    img{
      margin-bottom: 30px;
      height: 83px;
    }
    p{
      font-size: 20px;
      margin-bottom: 0;
      min-height: 140px;
    }
    .bttn{
      margin-bottom: 0;
      margin-top: 30px;
    }
    > div{
      > div{
        margin-bottom: 0px;
        .inner{
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .scheda02{
    img{
    }
    p{
      min-height: 100px;
    }
    .bttn{
    }
    .flex-container{
      flex-direction: row;
      .flex-item{
        margin-bottom: 0px;
        .inner{
        }
      }
    }
  }
}
//--------------------------------------------------------- END SCHEDA 02

//--------------------------------------------------------- SCHEDA 03
.scheda03{
  text-align: left;
  .inner{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
    > div{
      border-radius: 4px;
      border: solid 1px var(--cloudy-blue);
      background-color: var(--white);
    }
  }
  .item{
    &::before, &::after{
      content: "";
      display: table;
      clear: both;
    }
    .radio{
      display: block;
      margin: 0;
      width: 100%;
      padding-left: 0px;
      position: relative;
      .top{
        margin-bottom: 10px;
      }
      .radio-img{
        height: 24px;
      }
      .name{
        display: inline-block;
        color: var(--reddish-orange);
        margin-left: 5px;
        vertical-align: middle;
      }
      .caret{
        position: absolute;
        right: 0px;
        width: 20px;
        height: 18px;
        background-image: url(../images/caret.svg);
        transform: rotate(-90deg);
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        margin: 0;
        .transition(.3s);
      }
      .supplemento{
        position: relative;
        z-index: 1;
        top: -25px;
        margin-bottom: -26px;
        display: block;
        color: var(--dark-blue-grey);
        text-align: right;
        font-size: 16px;
        padding-right: 35px;
        line-height: 24px;
        span{
          vertical-align: middle;
        }
      }
      .img-container{
        height: 0px;
        overflow: hidden;
        .transition(.3s);
        img{
          width: 100%;
        }
      }
      .text-container{
        margin-top: 10px;
        p{
          font-size: 12px;
          margin-bottom: 15px;
          color: var(--steel);
        }
        .classe-ambientale{
          img{
          }
          span{
            font-size: 10px;
            color: var(--steel);
          }
        }
      }
      .plus{
        max-height: 0;
        margin-bottom: 20px;
        overflow: hidden;
        .transition(.3s);
        .title{
          font-size: 12px;
          color: var(--slate-grey);
          display: block;
          margin-bottom: 5px;
        }
        .subtitle{
          font-size: 10px;
          color: var(--cloudy-blue);
          display: block;
        }
        ul{
          margin: 0;
          padding: 0;
          &::before, &::after{
            content: "";
            display: table;
            clear: both;
          }
          li{
            display: block;
            width: 50%;
            float: left;
            padding-right: 10px;
            list-style: none;
            &::nth-child(2n + 1){
              clear: both;
            }
            .checkbox{
              margin-bottom: 0;
              width: 100%;
              label{
                font-size: 10px;
                line-height: 12px;
                color: var(--steel);
                min-height: 0;
                display: inline-block;
                vertical-align: middle;
                padding-left: 0;
                width: 100%;
                .check-container{
                  display: inline-block;
                  width: 24px;
                  height: 24px;
                  vertical-align: middle;
                  img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 24px;
                    height: auto;
                    .transition(.3s);
                  }
                  .unchecked{
                    opacity: 1;
                    z-index: 2;
                  }
                  .checked{
                    opacity: 0;
                    z-index: 1;
                  }
                }
                span{
                  display: inline-block;
                  vertical-align: middle;
                  width: calc(~"100% - 27px");
                }
              }
            }
            input[type="checkbox"]{
              &:checked + label{
                img.unchecked{
                  opacity: 0;
                }
                img.checked{
                  opacity: 1;
                }
              }
            }
          }
        }
      }
      input[type="radio"]{
        & + label {
          font-size: 16px;
          margin-left: 0px;
          padding-left: 0px;
          padding-top: 15px;
          width: 100%;
          display: block;
        }
        &:checked + label {
          .caret{
            transform: rotate(0deg);
          }
          .img-container{
            height: 120px;
          }
          .plus{
            max-height: 1000px;
          }
        }
      }
    }
  }
}


@media (min-width: 768px) and (max-width: 1199px) {
  .scheda03{
    .inner{
      margin-bottom: 60px;
      &:last-child{
        margin-bottom: 60px;
      }
      > div{
      }
    }
    .item{
      padding-left: 10px;
      padding-right: 10px;
      &::before, &::after{
      }
      .radio{
        .top{
        }
        .radio-img{
        }
        .name{
        }
        .caret{
          top: 17px;
          right: -7px;
        }
        .supplemento{
          top: -24px;
          padding-right: 20px;
          span{
          }
        }
        .img-container{
          img{
          }
        }
        .text-container{
          p{
          }
          .classe-ambientale{
            img{
            }
            span{
            }
          }
        }
        .plus{
          .title{
          }
          .subtitle{
          }
          ul{
            &::before, &::after{
            }
            li{
              &::nth-child(2n + 1){
              }
              .checkbox{
                label{
                  .check-container{
                    width: 20px;
                    img{
                      width: 20px;
                    }
                    .unchecked{
                    }
                    .checked{
                    }
                  }
                  span{
                    width: calc(~"100% - 23px");
                  }
                }
              }
              input[type="checkbox"]{
                &:checked + label{
                  img.unchecked{
                  }
                  img.checked{
                  }
                }
              }
            }
          }
        }
        input[type="radio"]{
          & + label {
          }
          &:checked + label {
            .caret{
            }
            .img-container{
            }
            .plus{
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .scheda03{
    .inner{
      margin-bottom: 60px;
      &:last-child{
        margin-bottom: 60px;
      }
      > div{
      }
    }
    .item{
      &::before, &::after{
      }
      .radio{
        .top{
        }
        .radio-img{
          height: 30px;
        }
        .name{
          font-size: 20px;
        }
        .caret{
          width: 20px;
          height: 30px;
        }
        .supplemento{
          font-size: 20px;
          top: -27px;
          span{
          }
        }
        .img-container{
          img{
          }
        }
        .text-container{
          p{
          }
          .classe-ambientale{
            img{
            }
            span{
            }
          }
        }
        .plus{
          .title{
          }
          .subtitle{
          }
          ul{
            &::before, &::after{
            }
            li{
              &::nth-child(2n + 1){
              }
              .checkbox{
                label{
                  .check-container{
                    img{
                    }
                    .unchecked{
                    }
                    .checked{
                    }
                  }
                  span{
                  }
                }
              }
              input[type="checkbox"]{
                &:checked + label{
                  img.unchecked{
                  }
                  img.checked{
                  }
                }
              }
            }
          }
        }
        input[type="radio"]{
          & + label {
          }
          &:checked + label {
            .caret{
            }
            .img-container{
              height: 200px;
            }
            .plus{
            }
          }
        }
      }
    }
  }
}
//--------------------------------------------------------- END SCHEDA 03


//--------------------------------------------------------- STANDARD
.standard{
  background-color: var(--aqua);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  *{
    color: var(--white);
  }
  h3{
    margin-top: 0px;
    font-size: 16px;
    margin-bottom: 15px;
  }
  p{
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .standard{
    padding-top: 120px;
    padding-bottom: 120px;
    h3{
      font-family: 'F37Ginger-Bold';
      font-size: 36px;
      margin-bottom: 25px;
    }
    p{
      font-size: 30px;
      margin-bottom: 0;
    }
  } 
}
//--------------------------------------------------------- END STANDARD

//--------------------------------------------------------- RIMANI INFORMATO
.rimani-informato{
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  img{
    margin-bottom: 15px;
    width: 28px;
  }
  h3{
    margin-top: 0px;
    font-size: 16px;
    color: var(--charcoal-grey);
    margin-bottom: 15px;
  }
  p{
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .rimani-informato{
    padding-top: 120px;
    padding-bottom: 120px;
    img{
      margin-bottom: 30px;
      width: 41px;
    }
    h3{
      font-size: 30px;
      margin-bottom: 30px;
    }
    p{
      font-size: 20px;
      margin-bottom: 0;
    }
  }
}
//--------------------------------------------------------- END RIMANI INFORMATO

//---------------------------------------------------------   NOT FOUND
.not-found{ 
  background: var(--ivory);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  h3{
    margin-top: 0px;
    font-size: 16px;
    color: var(--charcoal-grey);
    margin-bottom: 15px;
  }
  p{
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .not-found{
    padding-top: 120px;
    padding-bottom: 120px;
    h3{
      font-size: 30px;
      margin-bottom: 30px;
    }
    p{
      font-size: 20px;
      margin-bottom: 0;
    }
  }
}
//--------------------------------------------------------- END NOT FOUND


//--------------------------------------------------------- NOLEGGIA

.tab-noleggio{
  position: relative;
  z-index: 2;
  margin-top: -30px;
  &::before, &::after{
    display: table;
    clear: both;
    content: "";
  }
  > a{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--cloudy-blue);
    box-shadow: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    color: var(--steel);
    background-color: var(--white);
    display: block;
    float: left;
    width: 50%;
    border-radius: 0;
    &.active, &:hover{
      color: var(--reddish-orange);
      border-bottom: 2px solid var(--reddish-orange);
    }
  }
}
form{
  display: block;
  margin-top: -1px;
  z-index: 1;
  position: relative;
  .form-box{
    padding: 30px 0 30px 0;
    border: 1px solid var(--cloudy-blue);
    border-bottom-left-radius: 4px; 
    border-bottom-right-radius: 4px; 
    background-color: var(--white);
  }
  .tappe{
    position: relative;
  }
  .parziale{
    position: relative;
    top: -10px;
    margin-bottom: -10px;
    background-color: var(--white);
    border: 1px solid var(--cloudy-blue);
    border-radius: 4px;
    width: 144px;
    height: 44px;
    padding: 6px;
    float: right;
    > div{
      display: block;
      float: left;
      width: 50%;
      &.km{
        span:first-child{
          display: block;
          font-size: 10px;
        }
        span:last-child{
          display: block;
          font-size: 16px;
          color: var(--slate-grey);
        }
      }
      &.prezzo{
        position: relative;
        padding-left: 2px;
        &::before{
          content: "";
          position: absolute;
          top: 0;
          left: -5px;
          width: 1px;
          height: 100%;
          background-color: var(--cloudy-blue);
        }
        span:first-child{
          display: block;
          font-size: 10px;
        }
        span:last-child{
          display: block;
          font-size: 16px;
          color: var(--aqua);
        }
      }
    }
  }
}
.iframe-content{
  line-height: 0;
  margin-top: 60px;
  iframe{
    width: calc(~"100% + 30px");
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -60px;
  }
}
&.step3{
  form{
    .form-box{
      border-radius: 4px;
    }
    input[type="text"]{
      border: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .tappe{
      .input{
        &:last-child{
          margin-bottom: 20px;
        }
      }
    }
  }
}

.noleggia-content{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  h2{
    margin-bottom: 15px;
    margin-top: 0;
  }
  p{
    margin-bottom: 30px;
  }
  img{
    margin-bottom: 10px;
    height: 48px;
  }
  h3{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    color: var(--dark-blue-grey);
  }
  .inner{
    margin-bottom: 30px;
    > div{
      width: 100%;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .tab-noleggio{
    margin-top: 0;
    > a{
      padding: 20px 10px;
      z-index: 1 !important;
      &.active{
        z-index: 2 !important;
      }
    }
  }
  form{
    .tappe{
      > .switch{
      }
    }
    .parziale{
      > div{
        &.km{
          span:first-child{
          }
          span:last-child{
          }
        }
        &.prezzo{
          &::before{
          }
          span:first-child{
          }
          span:last-child{
          }
        }
      }
    }
  }
  .iframe-content{
    margin-top: 0;
    iframe{
      height: 385px;
      width: 100%;
      margin: 0;
    }
  }
  &.step3{
    form{
      .form-box{
        padding-top: 60px;
        padding-bottom: 60px;
        input[type="text"]{
        }
      }
    }
  }
  .bttn-google{
    margin-top: 60px;
  }
}

.noleggia-content{
  padding-top: 60px;
  padding-bottom: 60px;
  h2{
  }
  p{
    margin-bottom: 0;
  }
  img{
    margin-bottom: 0px;
    height: 80px;
  }
  h3{
  }
  .inner{
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    > div{
      width: 100%;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1200px) {
  .tab-noleggio{
    margin-top: 0;
    > a{
      padding: 20px 10px;
      z-index: 1 !important;
      &.active{
        z-index: 2 !important;
      }
    }
  }
  form{
    .tappe{
      > .switch{
      }
    }
    .parziale{
      width: 171px;
      height: 68px;
      padding: 12px 6px;
      > div{
        &.km{
          span:first-child{
            font-size: 12px;
          }
          span:last-child{
            font-size: 24px;
          }
        }
        &.prezzo{
          &::before{
          }
          span:first-child{
            font-size: 12px;
          }
          span:last-child{
            font-size: 24px;
          }
        }
      }
    }
  }
  .iframe-content{
    margin-top: 0;
    iframe{
      height: 410px;
      width: 100%;
      margin: 0;
    }
  }
  &.step3{
    form{
      .form-box{
        padding-top: 60px;
        padding-bottom: 60px;
        input[type="text"]{
        }
      }
    }
  }
  .bttn-google{
    margin-top: 60px;
  }

  .noleggia-content{
    padding-top: 120px;
    padding-bottom: 120px;
    h2{
      margin-bottom: 30px;
      font-size: 36px;
    }
    p{
      font-size: 30px;
      margin-bottom: 0;
    }
    img{
      margin-bottom: 15px;
      height: 160px;
    }
    h3{
      font-size: 24px;
    }
    .inner{
      margin-top: 30px;
      margin-bottom: 0px;
      margin-left: 0;
      margin-right: 0;
      > div{
        width: 100%;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

//--------------------------------------------------------- END NOLEGGIA

//--------------------------------------------------------- TIPOLOGIA DI NOLEGGIO
.tipologia-noleggio{
  margin-bottom: 15px;
  .input{
    &::before, &::after{
      display: none;
    }
  }
  .inner{
    background-color: var(--white);
    border: 1px solid var(--cloudy-blue);
    padding: 15px 0;
    border-radius: 4px;
    .exc{
      padding-right: 0;
    }
    .radio{
      margin-top: 0;
      margin-bottom: 0;
    }
    p{
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 12px;
      line-height: 16.8px;
    }
    .prezzo{
      font-size: 18px;
      display: block;
      .line-through{
        text-decoration: line-through;
      }
      .sale{
        color: var(--aqua);
      }
    }
  }
  &:last-child{
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .tipologia-noleggio{
    margin-bottom: 0px;
    .input{
      &::before, &::after{
      }
    }
    .inner{
      min-height: 180px;
      .exc{
      }
      .radio{
      }
      p{
      }
      .prezzo{
        .line-through{
        }
        .sale{
        }
        .price{
        }
      }
    }
    &:last-child{
    }
  }
}

@media (min-width: 1200px) {
  .tipologia-noleggio{
    margin-bottom: 0px;
    .input{
      &::before, &::after{
      }
    }
    .inner{
      padding: 60px 0;
      min-height: 374px;
      .exc{
      }
      .radio{
      }
      p{
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 24px;
        height: 100px;
      }
      .prezzo{
        margin-bottom: 15px;
        .line-through{
          font-size: 30px;
          margin: 0 5px;
        }
        .sale{
          font-size: 30px;
          margin: 0 5px;
        }
        .price{
          font-size: 30px;
          margin: 0 5px;
        }
      }
    }
    &:last-child{
    }
  }
}

//--------------------------------------------------------- END TIPOLOGIA DI NOLEGGIO

//--------------------------------------------------------- CONFERMA
.conferma{
  text-align: center;
  h1{
    color: var(--lightish-red);
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  p{
    color: var(--dark-blue-grey);
  }
}
//--------------------------------------------------------- END CONFERMA

//--------------------------------------------------------- SEARCH FILTER
.search-filter{
  .top{
    background-color: var(--very-light-blue);
    border: 1px solid var(--cloudy-blue);
    border-radius: 4px;
    padding: 5px 0;
    .input-search{
      display: block;
      float: left;
      height: 24px;
      &::before{
        content: url(../images/icons-svg/search.svg);        
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
      }
      input[type="search"]{
        display: inline-block;
        vertical-align: middle;
        border: none;
        background-color: transparent;
        box-shadow: none;
        font-size: 16px;
        line-height: 22px;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: var(--steel);
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: var(--steel);
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: var(--steel);
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: var(--steel);
        }
      }
    }
    .filter{
      position: relative;
      display: block;
      float: right;
      line-height: 22px;
      width: 16px;
      height: 24px;
      cursor: pointer;
      img{
        position: absolute;
        right: 0;
        top: calc(~"50% - 8px");
        width: 16px;
        height: 16px;
        vertical-align: middle;
        opacity: 0;
        visibility: hidden;
        .transition(.3s);
        &.active{
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .bottom{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    .transition(.3s);
    &.open{
      max-height: 2000px;
      visibility: visible;
      overflow: visible;
      opacity: 1;
    }
  }
  .border-box{
    padding-bottom: 0;
    margin-top: 10px;
    h3{
      color: var(--reddish-orange);
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 30px;
      letter-spacing: -0.39px;
    }
  }
}

@media (min-width: 1200px) {
  .search-filter{
    .top{
      padding: 10px 0;
      .input-search{
        width: 50%;
        &::before{
          position: relative;
          top: 0px;
          height: 36px;
          width: 36px;
        }
        input[type="search"]{
          font-size: 20px;
          line-height: 22px;
          vertical-align: middle;
          width: calc(~"100% - 60px");
        }
      }
      .filter{
        width: 36px;
        height: 36px;
        img{
          top: calc(~"50% - 18px");
          width: 36px;
          height: 36px;
          &.active{
          }
        }
      }
    }
    .border-box{
      h3{
        font-size: 20px;
        margin-bottom: 30px;
        letter-spacing: -0.48px;
      }
    }
  } 
}
//--------------------------------------------------------- END SEARCH FILTER

//--------------------------------------------------------- AGGREGATI
.aggregati{
  &.step01{
    padding-top: 30px;
    padding-bottom: 60px;
    .scheda01-b{
      .inner{
        // height: auto;
      }
    }
  }
}
@media (min-width: 1200px) {
  .aggregati{
    &.step01{
      padding-top: 60px;
      padding-bottom: 60px;
    }
  } 
}
//--------------------------------------------------------- END AGGREGATI

//--------------------------------------------------------- LE NOSTRE FERMATE

.fermate{
  p{
    font-size: 12px;
    margin-bottom: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .fermate{
    p{
    }
    .item{
      &:nth-child(3n + 1){
        clear: both;
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px){
  .fermate{
    p{
    }
    .item{
      &:nth-child(3n + 1){
        clear: both;
      }
    }
  }
}
@media (min-width: 1200px){
  .fermate{
    p{
      font-size: 18px;
    }
    .item{
      &:nth-child(3n + 1){
        clear: both;
      }
    }
  }
}

//--------------------------------------------------------- END LE NOSTRE FERMATE

//--------------------------------------------------------- I NOSTRI MEZZI

.i-nostri-mezzi{
  .scheda03 .item .radio{
    .img-container{
      height: 120px;
    }
    .plus{
      max-height: 1000px;
    }
    .caret{
      display: none;
    }
    .supplemento{
      padding-right: 0;
    }
  }
}

@media (min-width: 1200px){
  .i-nostri-mezzi{
    .scheda03 .item .radio{
      .img-container{
        height: 200px;
      }
    }
  }
}

//--------------------------------------------------------- END I NOSTRI MEZZI


//--------------------------------------------------------- CONTATTACI

.contattaci{
  .form-box{
    border-radius: 4px;
    margin-top: 30px;
  }
  h2{
    margin-bottom: 5px;
  }
  .exc{
    font-size: 12px;
  }
}

@media (min-width: 1200px){
  .contattaci{
    .form-box{
    }
    h2{
      margin-bottom: 10px;
    }
    .exc{
      font-size: 18px;
    }
  }
}

//--------------------------------------------------------- END CONTATTACI

//--------------------------------------------------------- FAQS

.faqs{
  p{
    font-size: 12px;
    margin-bottom: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .faqs{
    p{
    }
    .item{
      &:nth-child(2n + 1){
        clear: both;
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px){
  .faqs{
    p{
    }
    .item{
      &:nth-child(2n + 1){
        clear: both;
      }
    }
  }
}
@media (min-width: 1200px){
  .faqs{
    p{
      font-size: 18px;
    }
    .item{
      &:nth-child(2n + 1){
        clear: both;
      }
    }
  }
}

//--------------------------------------------------------- END FAQS

//--------------------------------------------------------- CHI SIAMO

.chi-siamo{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  .title{
    margin-bottom: 60px;
    span{
      font-size: 16px;
    }
  }
  .span{
    img{
      margin-bottom: 15px;
      height: 51px;
    }
    h2{
      margin-bottom: 15px;
      margin-top: 0;
      display: block;
      vertical-align: middle;
      font-size: 16px;
    }
  }
  p{
    margin-bottom: 0;
    font-size: 12px;
  }
  .inner{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}


@media (min-width: 768px) and (max-width: 1199px) {
  .chi-siamo{
    .span{
      img{
        margin-bottom: 15px;
        height: 71px;
      }
      h2{
        margin-bottom: 15px;
      }
    }
    p{
    }
    .inner{
      &:last-child{
      }
    }
  }
}

@media (min-width: 1200px) {
  .chi-siamo{
    padding-top: 120px;
    padding-bottom: 120px;
    .title{
      span{
        font-size: 30px;
      }
    }
    .span{
      img{
        margin-bottom: 25px;
        height: 81px;
      }
      h2{
        margin-bottom: 15px;
        font-size: 26px;
      }
    }
    p{
      font-size: 20px;
    }
    .inner{
      margin-bottom: 60px;
      &:last-child{
      }
    }
  }
}

//--------------------------------------------------------- END CHI SIAMO

//--------------------------------------------------------- NOLEGGIATORI

.noleggiatori{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  .title{
    margin-bottom: 60px;
    span{
      font-size: 16px;
    }
  }
  .inner{
    margin-bottom: 30px;
    img{
      margin-bottom: 15px;
      height: 51px;
    }
    p{
      margin-bottom: 0;
      font-size: 12px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}


@media (min-width: 768px) and (max-width: 1199px) {
  .noleggiatori{
    .inner{
      img{
        margin-bottom: 15px;
        height: 71px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .noleggiatori{
    padding-top: 120px;
    padding-bottom: 120px;
    .title{
      span{
        font-size: 30px;
      }
    }
    .inner{
      margin-bottom: 60px;
      img{
        margin-bottom: 25px;
        height: 81px;
      }
      p{
        font-size: 20px;
      }
    }
  }
}

//--------------------------------------------------------- END NOLEGGIATORI

//--------------------------------------------------------- NETWORK

.network{
  *{
    color: var(--white);
  }
  h3{
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .network{
    *{
      color: var(--white);
    }
    h3{
      margin-top: 0;
      margin-bottom: 15px;
      font-size: 40px;
    }
    p{
      font-size: 30px;
    }
  } 
}

//--------------------------------------------------------- END NETWORK


//--------------------------------------------------------- FOOTER
footer.footer{
  text-align: center;
  .top-footer{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--powder-blue);
    .logo-footer{
      height: 22px;
    }
    .social{
      margin: 30px 0;
      padding: 0;
      text-align: center;
      li{
        list-style: none;
        display: inline-block;
        margin: 0 10px;
        a{
          display: block;
          img{
            width: 22px;
          }
        }
      }
    }
    .info, .contatti{
      margin-top: 20px;
      span{
        display: block;
        font-size: 16px;
        color: var(--dark-blue-grey);
        letter-spacing: -0.7px;
        margin-bottom: 5px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    .support{
      margin-top: 30px;
      font-size: 16px;
      color: var(--slate-grey);
      span{
        display: block;
      }
    }
  }
  .credits{
    background-color: var(--dark-blue-grey);
    font-size: 10px;
    line-height: 1.68;
    color: var(--very-light-blue);
    padding: 10px 0;
    span{
      img{
        width: 13px;
        margin: 0 5px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  footer.footer{
    .top-footer{
      .logo-footer{
        margin-bottom: 30px;
      }
      .nav-footer{
        text-align: left;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
        li{
          padding: 0;
          list-style: none;
          margin-bottom: 10px;
          &:last-child{
            margin-bottom: 0;
          }
          a{
            color: var(--dark-blue-grey);
          }
        }
      }
      .social{
        margin: 0px 0;
        padding: 0;
        text-align: center;
        li{
          list-style: none;
          display: block;
          margin: 0 0px;
          width: 20%;
          float: left;
          a{
            display: block;
            img{
              width: 20px;
            }
          }
        }
      }
      .info, .contatti{
        margin-top: 0px;
        text-align: left;
        span{
          color: var(--slate-grey);
          letter-spacing: normal;
          margin-bottom: 10px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      .contatti{
        margin-top: 20px;
      }
      .support{
        margin-top: 0px;
        color: var(--slate-grey);
        span{
          display: block;
        }
      }
    }
    .credits{
      padding: 15px 0;
      span{
        img{
          width: 20px;
          margin: 0 5px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  footer.footer{
    .top-footer{
      padding-top: 60px;
      padding-bottom: 60px;
      .logo-footer{
        height: 41px;
        margin-bottom: 60px;
      }
      .nav-footer{
        text-align: left;
        margin: 0;
        padding: 0;
        margin-bottom: 60px;
        li{
          padding: 0;
          list-style: none;
          margin-bottom: 15px;
          &:last-child{
            margin-bottom: 0;
          }
          a{
            font-size: 20px;
            color: var(--dark-blue-grey);
          }
        }
      }
      .social{
        margin: 0px 0;
        padding: 0;
        text-align: center;
        li{
          list-style: none;
          display: block;
          margin: 0 0px;
          width: 20%;
          float: left;
          a{
            display: block;
            img{
              width: 40px;
            }
          }
        }
      }
      .info, .contatti{
        margin-top: 0px;
        text-align: left;
        span{
          font-size: 18px;
          color: var(--slate-grey);
          letter-spacing: normal;
          margin-bottom: 12px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      .contatti{
        margin-top: 20px;
      }
      .support{
        margin-top: 0px;
        font-size: 18px;
        color: var(--slate-grey);
        span{
          display: block;
        }
      }
    }
    .credits{
      font-size: 20px;
      padding: 15px 0;
      span{
        img{
          width: 20px;
          margin: 0 5px;
        }
      }
    }
  }
}

//--------------------------------------------------------- END FOOTER



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 1200px) {  }

.icon-chevron-up{
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(../images/caret.svg);
  transform: rotate(180deg);
  background-position: center;
  background-repeat: no-repeat;
}
.icon-chevron-down{
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(../images/caret.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.bootstrap-datetimepicker-widget td.active:hover, .bootstrap-datetimepicker-widget td.active:hover:hover, .bootstrap-datetimepicker-widget td.active:active, .bootstrap-datetimepicker-widget td.active:hover:active, .bootstrap-datetimepicker-widget td.active.active, .bootstrap-datetimepicker-widget td.active:hover.active, .bootstrap-datetimepicker-widget td.active.disabled, .bootstrap-datetimepicker-widget td.active:hover.disabled, .bootstrap-datetimepicker-widget td.active[disabled], .bootstrap-datetimepicker-widget td.active:hover[disabled]{
  background-color: var(--reddish-orange) !important;
}
.bootstrap-datetimepicker-widget td.active:active, .bootstrap-datetimepicker-widget td.active:hover:active, .bootstrap-datetimepicker-widget td.active.active, .bootstrap-datetimepicker-widget td.active:hover.active{
  background-color: var(--reddish-orange) !important;
}
.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover{
  background-color: var(--reddish-orange) !important; 
  background-image: none;
}