:root {
  --reddish-orange: #ff671d;
  --sandy: #e6d67f;
  --rosa: #fb91a3;
  --dark-blue-grey: #292559;
  --aqua: #19d3c5;
  --lightish-red: #f93549;
  --dark: #1d252c;
  --charcoal-grey: #323e48;
  --slate-grey: #5b6670; 
  --cloudy-blue: #c1c5c8;
  --powder-blue: #d8dbdd;
  --very-light-blue: #ebeced;
  --green-blue: #00a98f;
  --cool-grey: #a2a9ad;
  --white: #ffffff;
  --pink-red: #eb0045;
  --pastel-orange: #ff9158;
  --light-blue-grey: #c7c7cc;
  --light-salmon: #ffb68d;
  --light-peach: #ffdac5;
  --black: #000000;
  --steel: #7b868c;
  --light-blue-grey: #cfd2d3;
  --ivory: #f7f7f7;
}
@font-face {
  font-family: 'F37Ginger';
  src: url('../fonts/F37Ginger-Family/F37Ginger-Light/F37Ginger-Light.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/F37Ginger-Family/F37Ginger-Light/F37Ginger-Light.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/F37Ginger-Family/F37Ginger-Light/F37Ginger-Light.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/F37Ginger-Family/F37Ginger-Light/F37Ginger-Light.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/F37Ginger-Family/F37Ginger-Light/F37Ginger-Light.svg') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'F37Ginger-Regular';
  src: url('../fonts/F37Ginger-Family/F37Ginger-Regular/F37Ginger-Regular.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/F37Ginger-Family/F37Ginger-Regular/F37Ginger-Regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/F37Ginger-Family/F37Ginger-Regular/F37Ginger-Regular.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/F37Ginger-Family/F37Ginger-Regular/F37Ginger-Regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/F37Ginger-Family/F37Ginger-Regular/F37Ginger-Regular.svg') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'F37Ginger-Bold';
  src: url('../fonts/F37Ginger-Family/F37Ginger-Bold/F37Ginger-Bold.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/F37Ginger-Family/F37Ginger-Bold/F37Ginger-Bold.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/F37Ginger-Family/F37Ginger-Bold/F37Ginger-Bold.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/F37Ginger-Family/F37Ginger-Bold/F37Ginger-Bold.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/F37Ginger-Family/F37Ginger-Bold/F37Ginger-Bold.svg') format('svg');
  /* Legacy iOS */
}
body {
  padding-top: 50px;
  font-family: F37Ginger-Regular;
  font-size: 14px;
  line-height: 1.2;
  color: var(--steel);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
body.overflow {
  overflow-y: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
.white {
  color: var(--white) !important;
}
.steel {
  color: var(--steel) !important;
}
.orange {
  color: var(--reddish-orange) !important;
}
.aqua {
  color: var(--aqua) !important;
}
.pink-red {
  color: var(--pink-red) !important;
}
.dark {
  color: var(--dark) !important;
}
.dark-blue-grey {
  color: var(--dark-blue-grey) !important;
}
.lightish-red {
  color: var(--lightish-red) !important;
}
.cool-grey {
  color: var(--cool-grey) !important;
}
.charcoal-grey {
  color: var(--charcoal-grey) !important;
}
.green-blue {
  color: var(--green-blue) !important;
}
.slate-grey {
  color: var(--slate-grey) !important;
}
.bg-ivory {
  background-color: var(--ivory) !important;
}
.bg-aqua {
  background-color: var(--aqua) !important;
}
*:focus,
*:hover {
  text-decoration: none !important;
  outline: none !important;
}
.bttn {
  width: 100%;
  height: 44px;
  border-radius: 4px;
  display: table;
  margin: 15px auto;
  padding: 5px 10px;
  font-size: 16px;
  text-align: center;
  position: relative;
  border: 1px solid;
  box-shadow: 0 0 2px 0 var(--cloudy-blue);
}
.bttn span {
  position: relative;
  z-index: 1;
  display: table-cell;
  vertical-align: middle;
  line-height: 20px;
}
.bttn.bttn-orange {
  background-color: var(--reddish-orange);
  border-color: var(--reddish-orange);
  color: var(--white);
}
.bttn.bttn-orange.outline {
  background-color: transparent;
  color: var(--reddish-orange);
}
.bttn.bttn-red {
  background-color: var(--lightish-red);
  border-color: var(--lightish-red);
  color: var(--white);
}
.bttn.bttn-image {
  color: var(--white);
}
.bttn.bttn-image img {
  position: absolute;
  left: -1px;
  top: -1px;
  height: 66px;
}
.bttn.bttn-image span {
  padding-left: 35px;
}
.bttn.bttn-google {
  color: #ea4335;
  border-color: #ea4335;
  background-color: transparent;
}
.bttn.bttn-google span::before {
  position: relative;
  top: 2px;
  display: inline-block;
  content: url(../images/icons-svg/google-button.svg);
  margin-right: 10px;
}
.bttn.bttn-facebook {
  color: #3b5998;
  border-color: #3b5998;
  background-color: transparent;
}
.bttn.bttn-facebook span::before {
  position: relative;
  top: 2px;
  display: inline-block;
  content: url(../images/icons-svg/facebook-button.svg);
  margin-right: 10px;
}
.bttn.bttn-twitter {
  color: #55acee;
  border-color: #55acee;
  background-color: transparent;
}
.bttn.bttn-twitter span::before {
  position: relative;
  top: 2px;
  display: inline-block;
  content: url(../images/icons-svg/twitter-button.svg);
  margin-right: 10px;
}
.bttn.disable {
  background-color: var(--powder-blue);
  border-color: var(--powder-blue);
  pointer-events: none;
  cursor: not-allowed;
}
.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: stretch;
  margin-left: -10px;
  margin-right: -10px;
}
.flex-container .flex-item {
  margin-left: 10px;
  margin-right: 10px;
}
.flex-container .flex-item .inner {
  display: table;
  width: 100%;
  height: 100%;
}
.flex-container .flex-item .inner > div {
  display: table-cell;
  vertical-align: middle;
}
.mtop-30 {
  margin-top: 30px !important;
}
.mtop-60 {
  margin-top: 60px !important;
}
.mbottom-0 {
  margin-bottom: 0px !important;
}
.padding-0-60 {
  padding-top: 0px;
  padding-bottom: 60px;
}
.padding-30-60 {
  padding-top: 30px;
  padding-bottom: 60px;
}
.padding-30-0 {
  padding-top: 30px;
  padding-bottom: 0px;
}
.padding-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.border-box {
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid var(--cloudy-blue);
  border-radius: 4px;
  background-color: var(--white);
}
small {
  font-size: 10px;
  display: block;
}
h2 {
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--reddish-orange);
}
.title-center-grey {
  display: block;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: var(--slate-grey);
  text-align: center;
}
.title-orange-icon {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 15px;
}
.title-orange-icon img {
  height: 16px;
}
.title-orange-icon span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
img {
  max-width: 100%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 100%;
  }
  .title-center-grey {
    margin-bottom: 30px;
    margin-top: 60px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-family: F37Ginger-Regular;
    padding-top: 75px;
  }
}
@media (min-width: 1200px) {
  body {
    font-family: F37Ginger-Regular;
    padding-top: 75px;
    font-size: 18px;
  }
  h2 {
    font-size: 24px;
  }
  .bttn {
    height: 61px;
    font-size: 24px;
  }
  .bttn.small {
    height: 61px;
  }
  .bttn span {
    line-height: 28px;
  }
  .bttn.bttn-image {
    height: 127px;
  }
  .bttn.bttn-image img {
    height: 127px;
  }
  .bttn.bttn-image span {
    padding-left: 80px;
  }
  .bttn.bttn-google {
    color: #ea4335;
    border-color: #ea4335;
    background-color: transparent;
  }
  .bttn.bttn-google span::before {
    position: relative;
    top: 2px;
    display: inline-block;
    content: url(../images/icons-svg/google-button.svg);
    margin-right: 10px;
  }
  .bttn.bttn-facebook {
    color: #3b5998;
    border-color: #3b5998;
    background-color: transparent;
  }
  .bttn.bttn-facebook span::before {
    position: relative;
    top: 2px;
    display: inline-block;
    content: url(../images/icons-svg/facebook-button.svg);
    margin-right: 10px;
  }
  .title-center-grey {
    font-size: 36px;
    margin-bottom: 30px;
    margin-top: 120px;
  }
  .title-orange-icon {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .title-orange-icon span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
  }
  .title-orange-icon img {
    height: 30px;
  }
  small {
    font-size: 16px;
  }
}
.delete {
  position: absolute;
  right: 0;
  top: 50%;
  cursor: pointer;
}
form .input {
  position: relative;
  margin-bottom: 30px;
}
form .input:last-child {
  margin-bottom: 0;
}
form .input.partenza::before {
  position: absolute;
  top: 0;
  left: -20px;
  width: 9px;
  height: 9px;
  display: block;
  content: url(../images/tappe/partenza.svg);
}
form .input.partenza::after {
  position: absolute;
  content: url(../images/tappe/dot.svg);
  top: 2px;
  left: -20px;
  width: 9px;
  height: 100%;
  display: block;
}
form .input.arrivo::before {
  position: absolute;
  top: 0;
  left: -20px;
  width: 9px;
  height: 9px;
  display: block;
  content: url(../images/tappe/arrivo.svg);
}
form .input.arrivo::after {
  position: absolute;
  content: url(../images/tappe/dot.svg);
  top: 2px;
  left: -20px;
  width: 9px;
  height: 100%;
  display: block;
}
form .input.tappa::before {
  position: absolute;
  top: 0;
  left: -20px;
  width: 9px;
  height: 9px;
  display: block;
  content: url(../images/tappe/tappa.svg);
}
form .input.tappa::after {
  display: none;
}
form .input.tappa label a {
  color: var(--steel);
}
form .select-container {
  margin-bottom: 30px;
}
form .select-container label {
  position: absolute;
  z-index: 2;
  margin-left: 12px;
  margin-top: 7px;
  color: var(--steel);
}
form .select-container .bootstrap-select {
  width: 100% !important;
}
form .select-container .bootstrap-select > .dropdown-toggle {
  height: 42px;
  background-color: var(--ivory);
  border: none;
  box-shadow: none;
  outline: none !important;
}
form .select-container .bootstrap-select > .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -8px;
  vertical-align: middle;
  border: none;
  width: 16px;
  height: 16px;
  background: none;
  content: url(../images/caret.svg);
}
form .select-container .bootstrap-select > .dropdown-toggle .filter-option {
  margin-top: 12px;
}
form .select-container .bootstrap-select > .dropdown-toggle.bs-placeholder {
  color: var(--slate-grey);
}
form .select-container .bootstrap-select .dropdown-menu > li > a {
  color: var(--slate-grey);
  font-size: 12px;
}
form .select-container .bootstrap-select .dropdown-menu > .active > a {
  color: var(--white);
  background-color: var(--reddish-orange);
}
form .select-container .bootstrap-select .dropdown-menu > .active > a:focus,
form .select-container .bootstrap-select .dropdown-menu > .active > a:hover {
  color: var(--white);
  background-color: var(--reddish-orange);
}
form .select-container .bootstrap-select .filter-option-inner-inner {
  color: var(--slate-grey);
  font-size: 12px;
}
form .select-container .bootstrap-select.open .caret {
  transform: rotate(180deg);
}
form label {
  font-size: 10px;
  font-weight: normal;
}
form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--cloudy-blue);
}
form ::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--cloudy-blue);
}
form :-ms-input-placeholder {
  /* IE 10+ */
  color: var(--cloudy-blue);
}
form :-moz-placeholder {
  /* Firefox 18- */
  color: var(--cloudy-blue);
}
form input[type="text"] {
  display: block;
  width: 100%;
  border: none;
  color: var(--slate-grey);
  background-color: transparent;
  height: auto;
  font-size: 12px;
  text-align: left;
  border-bottom: 1px solid var(--cloudy-blue);
  border-radius: 0;
  padding-bottom: 5px;
  outline: none;
}
form input[type="email"] {
  display: block;
  width: 100%;
  border: none;
  color: var(--slate-grey);
  background-color: transparent;
  height: auto;
  font-size: 12px;
  text-align: left;
  border-bottom: 1px solid var(--cloudy-blue);
  border-radius: 0;
  padding-bottom: 5px;
  outline: none;
}
form input[type="tel"] {
  display: block;
  width: 100%;
  border: none;
  color: var(--slate-grey);
  background-color: transparent;
  height: auto;
  font-size: 12px;
  text-align: left;
  border-bottom: 1px solid var(--cloudy-blue);
  border-radius: 0;
  padding-bottom: 5px;
  outline: none;
}
form input[type="password"] {
  display: block;
  width: 100%;
  border: none;
  color: var(--slate-grey);
  background-color: transparent;
  height: auto;
  font-size: 12px;
  text-align: left;
  border-bottom: 1px solid var(--cloudy-blue);
  border-radius: 0;
  padding-bottom: 5px;
  outline: none;
}
form textarea {
  display: block;
  width: 100%;
  border: none;
  color: var(--slate-grey);
  background-color: var(--ivory);
  min-height: 80px;
  font-size: 12px;
  text-align: left;
  border-radius: 4px;
  padding: 15px;
  outline: none;
}
form input[type="submit"] {
  margin-top: 26px;
}
form .checkbox,
form .radio {
  display: table;
  min-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
form .checkbox::before,
form .radio::before,
form .checkbox::after,
form .radio::after {
  display: table;
  clear: both;
  content: "";
}
form input[type="radio"] {
  position: absolute;
  z-index: 1;
  clip: rect(0px, 0px, 0px, 0px);
  width: 19px;
  height: 19px;
  margin: 0 !important;
  padding: 0;
}
form input[type="radio"] + label {
  position: relative;
  z-index: 0;
  padding-left: 25px;
  font-size: 14px;
  margin-left: -25px;
  font-weight: normal;
  color: var(--aqua);
  display: inline;
  vertical-align: middle;
}
form input[type="radio"] + label .radio-button {
  position: absolute;
  left: 0px;
  top: 0;
  z-index: 0;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: solid 1px var(--cloudy-blue);
  background-color: var(--ivory);
}
form input[type="radio"] + label .radio-button i {
  position: absolute;
  top: 3px;
  left: 3px;
  visibility: hidden;
  opacity: 0;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: transparent;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
form input[type="radio"] + label a {
  white-space: nowrap;
  color: var(--steel);
}
form input[type="radio"]:checked + label .radio-button {
  border-color: var(--reddish-orange);
}
form input[type="radio"]:checked + label .radio-button i {
  visibility: visible;
  opacity: 1;
  background-color: var(--reddish-orange);
}
form input[type="checkbox"] {
  position: absolute;
  z-index: 1;
  clip: rect(0px, 0px, 0px, 0px);
  width: 19px;
  height: 19px;
  margin: 0 !important;
  padding: 0;
}
form input[type="checkbox"] + label {
  position: relative;
  z-index: 0;
  padding-left: 30px;
  font-size: 10px;
  font-weight: normal;
  line-height: 1.08;
  color: var(--cool-grey);
  display: table-cell;
  vertical-align: middle;
}
form input[type="checkbox"] + label .check-button {
  position: absolute;
  left: 0px;
  top: 0;
  z-index: 0;
  width: 19px;
  height: 19px;
  border-radius: 2px;
  border: solid 1px var(--cloudy-blue);
  background-color: var(--ivory);
}
form input[type="checkbox"] + label .check-button i {
  position: absolute;
  top: 3px;
  left: 3px;
  visibility: hidden;
  opacity: 0;
  width: 11px;
  height: 11px;
  border-radius: 0px;
  background-color: transparent;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
form input[type="checkbox"] + label a {
  white-space: nowrap;
  color: var(--steel);
}
form input[type="checkbox"]:checked + label .check-button {
  border-color: var(--reddish-orange);
}
form input[type="checkbox"]:checked + label .check-button i {
  visibility: visible;
  opacity: 1;
  background-color: var(--reddish-orange);
}
form.newsletter {
  margin-top: 40px;
}
form.newsletter label {
  font-weight: normal;
  text-align: left;
}
form.newsletter .checkbox {
  margin-top: 10px;
}
form.newsletter input[type="submit"] {
  margin-top: 30px;
  margin-bottom: 0;
  border: none;
}
form.newsletter input[type="email"] {
  display: block;
  width: 100%;
  height: 53px;
  border-radius: 4px;
  border: solid 1px var(--cloudy-blue);
  background-color: var(--ivory);
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: var(--slate-grey);
}
form.newsletter input[type="email"]:focus {
  outline-color: var(--aqua);
}
.box-input {
  padding: 5px 10px;
  background-color: var(--ivory);
  border-radius: 4px;
}
.box-input::after {
  content: url(../images/tappe/dot-big.svg) !important;
}
.box-input hr {
  margin: 5px -10px 5px -10px;
  border-color: var(--very-light-blue);
}
.box-input .citta {
  display: block;
  font-size: 12px;
  color: var(--slate-grey);
}
.box-input .data-ora::before,
.box-input .data-ora::after {
  clear: both;
  display: table;
  content: "";
}
.box-input .data-ora > div {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 7px 0;
}
.box-input .data-ora > div.data span::before {
  position: relative;
  top: -1px;
  display: inline-block;
  vertical-align: middle;
  content: url(../images/icons-svg/calendar.svg);
  margin-right: 0px;
}
.box-input .data-ora > div.data span input[type="text"] {
  display: inline-block;
  width: calc(100% - 30px);
  font-size: 12px;
}
.box-input .data-ora > div.ora {
  position: relative;
}
.box-input .data-ora > div.ora::before {
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -10px;
  content: "";
  width: 1px;
  background-color: var(--very-light-blue);
}
.box-input .data-ora > div.ora .add-on::before {
  position: relative;
  top: -1px;
  display: inline-block;
  vertical-align: middle;
  content: url(../images/icons-svg/orologio.svg);
  margin-right: 0px;
}
.glyphicon-chevron-up:before {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  content: url(../images/caret.svg);
  transform: rotate(180deg);
  background-position: center;
  background-repeat: no-repeat;
}
.glyphicon-chevron-down:before {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  content: url(../images/caret.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.box-input .data-ora > div.ora span input[type="text"] {
  display: inline-block;
  width: calc(100% - 30px);
  font-size: 12px;
}
@media (min-width: 1200px) {
  form .select-container .bootstrap-select > .dropdown-toggle {
    height: 57px;
  }
  form .select-container .bootstrap-select .dropdown-menu > li > a {
    font-size: 16px;
  }
  form .select-container .bootstrap-select .filter-option-inner-inner {
    font-size: 16px;
  }
  form label {
    font-size: 12px;
  }
  form input[type=text] {
    font-size: 16px;
  }
  form input[type=email] {
    font-size: 16px;
  }
  form input[type=password] {
    font-size: 16px;
  }
  form input[type=tel] {
    font-size: 16px;
  }
  form textarea {
    font-size: 16px;
  }
  form input[type="submit"] {
    margin-top: 26px;
    padding-left: 90px;
    padding-right: 90px;
  }
  form input[type="radio"] + label {
    font-size: 30px;
  }
  form input[type="radio"] + label .radio-button {
    left: -10px;
    top: 6px;
    z-index: 0;
    width: 24px;
    height: 24px;
  }
  form input[type="radio"] + label .radio-button i {
    top: 5px;
    left: 5px;
    visibility: hidden;
    opacity: 0;
    width: 12px;
    height: 12px;
  }
  form input[type=checkbox] + label {
    font-size: 12px;
  }
  form.newsletter label {
    font-weight: normal;
  }
  form.newsletter .checkbox {
    margin-top: 30px;
    text-align: left;
  }
  form.newsletter input[type=submit] {
    margin-top: 60px;
  }
  form.newsletter input[type="email"] {
    display: block;
    width: 100%;
    height: 53px;
    border-radius: 4px;
    border: solid 1px var(--cloudy-blue);
    background-color: var(--ivory);
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: var(--slate-grey);
  }
  form.newsletter input[type="email"]:focus {
    outline-color: var(--aqua);
  }
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 50px;
  background: var(--white);
  text-align: center;
  padding: 18px 0;
}
.header .logo-container {
  display: block;
  margin: 0 auto;
  width: 70px;
}
.header .menu-mobile-icon {
  position: absolute;
  top: 0px;
  left: 15px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.header .menu-mobile-icon:hover,
.header .menu-mobile-icon:active,
.header .menu-mobile-icon:focus {
  outline: none !important;
}
.header .menu-mobile-icon *:hover,
.header .menu-mobile-icon *:active,
.header .menu-mobile-icon *:focus {
  outline: none !important;
}
.header .menu-mobile-icon .icon-bars {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  border: none;
  position: relative;
  height: 15px;
  width: 15px;
  vertical-align: middle;
  background-color: transparent;
  background-image: none;
}
.header .menu-mobile-icon .icon-bars .icon-bar {
  display: block;
  width: 15px;
  height: 2px;
  border-radius: 3px;
  background-color: var(--reddish-orange);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header .menu-mobile-icon .icon-bars .icon-bar + .icon-bar {
  margin-top: 4px;
}
.header .menu-mobile-icon .icon-bars .icon-bar:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
  width: 22px;
}
.header .menu-mobile-icon .icon-bars .icon-bar:nth-child(2) {
  opacity: 0;
}
.header .menu-mobile-icon .icon-bars .icon-bar:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
  width: 22px;
}
.header .menu-mobile-icon .icon-bars.collapsed .icon-bar:nth-child(1) {
  transform: rotate(0);
  width: 15px;
}
.header .menu-mobile-icon .icon-bars.collapsed .icon-bar:nth-child(2) {
  opacity: 1;
}
.header .menu-mobile-icon .icon-bars.collapsed .icon-bar:nth-child(3) {
  transform: rotate(0);
  width: 15px;
}
.header .logo-header {
  height: 15px;
  display: block;
  margin: 0 auto;
}
.header .main-menu ul {
  margin: 0;
  padding: 0;
}
.header .main-menu ul li {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.header .main-menu ul li a {
  font-size: 16px;
  color: var(--slate-grey);
}
.header .main-menu ul li.lang {
  margin-top: 0;
}
.header .main-menu ul li.lang span {
  font-size: 16px;
  color: var(--slate-grey);
  margin-left: -2px;
  margin-right: -2px;
}
.header .main-menu ul li.lang li {
  margin-top: 0;
  display: inline-block;
}
.header .main-menu ul li.lang li a {
  letter-spacing: 0;
  text-transform: uppercase;
}
.header .main-menu ul li.lang li.active a {
  font-family: 'F37Ginger-Bold';
  color: var(--dark-blue-grey);
}
#sidebar {
  width: 270px;
  position: fixed;
  top: 50px;
  left: -100%;
  height: calc(100vh - 50px);
  z-index: 9;
  background-color: var(--ivory);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  overflow-y: scroll;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.24), 0 0 16px 0 rgba(0, 0, 0, 0.18);
}
#sidebar .menu-no-logged {
  text-align: center;
  margin-bottom: -50px;
}
#sidebar .menu-no-logged .banner-menu {
  width: 100%;
}
#sidebar .menu-no-logged .bttn {
  position: relative;
  display: inline-block;
  height: 30px;
  font-size: 14px;
  text-align: center;
  width: auto;
  margin-top: 0;
  top: -45px;
}
#sidebar .menu-logged {
  text-align: center;
  background-color: var(--white);
}
#sidebar .menu-logged .banner-menu {
  width: 100%;
}
#sidebar .menu-logged .utente {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px solid var(--light-blue-grey);
  background-color: var(--white);
  position: relative;
  top: -50px;
  margin-bottom: -50px;
  display: inline-block;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; 
}
#sidebar .menu-logged .utente img {
  width: 100%;
}
#sidebar .menu-logged .name {
  display: block;
  color: var(--reddish-orange);
  font-size: 10px;
}
#sidebar .menu-logged .menu {
  text-align: left;
  margin: 15px 0;
  padding: 0;
}
#sidebar .menu-logged .menu li {
  display: block;
  list-style: none;
  margin: 0 0 10px 0;
}
#sidebar .menu-logged .menu li:last-child {
  margin-bottom: 0;
}
#sidebar .menu-logged .menu li a {
  font-size: 14px;
  color: var(--dark-blue-grey);
}
#sidebar .menu-logged .menu li a.red {
  color: var(--lightish-red);
}
#sidebar .main-menu {
  background: var(--ivory);
  padding: 30px 0;
}
#sidebar .main-menu .nav-menu ul {
  margin: 0;
  padding: 0;
}
#sidebar .main-menu .nav-menu ul li {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  list-style: none;
  display: block;
}
#sidebar .main-menu .nav-menu ul li a {
  font-size: 14px;
  color: var(--slate-grey);
}
#sidebar .main-menu .nav-menu ul li.lang {
  margin-top: 0;
}
#sidebar .main-menu .nav-menu ul li.lang span {
  font-size: 14px;
  color: var(--slate-grey);
  margin-left: -2px;
  margin-right: -2px;
}
#sidebar .main-menu .nav-menu ul li.lang li {
  margin-top: 0;
  display: inline-block;
}
#sidebar .main-menu .nav-menu ul li.lang li a {
  letter-spacing: 0;
  text-transform: uppercase;
}
#sidebar .main-menu .nav-menu ul li.lang li.active a {
  font-family: 'F37Ginger-Bold';
  color: var(--dark-blue-grey);
}
#sidebar .main-menu .submenu {
  margin: 0;
  padding: 0;
  margin-top: 30px;
}
#sidebar .main-menu .submenu::before,
#sidebar .main-menu .submenu::after {
  display: table;
  content: "";
  clear: both;
}
#sidebar .main-menu .submenu li {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  list-style: none;
}
#sidebar .main-menu .submenu li a {
  font-size: 12px;
  color: var(--slate-grey);
}
#sidebar .main-menu .submenu li:first-child {
  margin-top: 0;
}
#sidebar.active {
  left: 0;
}
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  height: 100%;
}
.menu-mobile-overlay {
  display: none;
  position: fixed;
  top: 50px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 8;
  opacity: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.menu-mobile-overlay.active {
  display: block;
  opacity: 1;
}
@media (min-width: 992px) {
  .header {
    height: 75px;
    padding: 0;
  }
  .header .logo-container {
    display: block;
    margin: 18px 0;
  }
  .header .logo-header {
    height: 40px;
    margin: 0;
  }
  .header .main-menu {
    text-align: right;
  }
  .header .main-menu > ul > li {
    margin-top: 0;
    vertical-align: middle;
    margin-left: 20px;
  }
  .header .main-menu > ul > li .bttn {
    color: var(--white);
    height: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .header .main-menu > ul > li.lang {
    margin-left: 0;
  }
  .header .main-menu > ul > li.menu-no-logged {
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .header .main-menu > ul > li.menu-logged {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .header .main-menu > ul > li.menu-logged .utente {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    border: 1px solid var(--light-blue-grey);
    background-color: var(--white);
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
  }
  .header .main-menu > ul > li.menu-logged .utente img {
    width: 100%;
  }
  .header .main-menu > ul > li.menu-logged .menu {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 150px;
    background-color: var(--white);
    visibility: hidden;
    padding: 15px;
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .header .main-menu > ul > li.menu-logged .menu li a.red {
    color: var(--lightish-red);
  }
  .header .main-menu > ul > li.menu-logged:hover .menu {
    visibility: visible;
    opacity: 1;
  }
  .header .main-menu > ul > li.menu-logged:hover .menu li {
    display: block;
  }
}
.profilo-utente {
  background-color: var(--ivory);
}
.profilo-utente .banner-menu {
  display: block;
  width: 100%;
}
.profilo-utente .banner-menu * {
  width: 100%;
}
.profilo-utente .utente {
  width: 84px;
  height: 84px;
  border-radius: 100%;
  border: 1px solid var(--light-blue-grey);
  background-color: var(--white);
  position: relative;
  top: -50px;
  margin-bottom: -50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; 
}
.profilo-utente .utente img {
  width: 100%;
}
.profilo-utente .name {
  position: relative;
  display: block;
  color: var(--reddish-orange);
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--light-blue-grey);
}
.profilo-utente .name a {
  position: absolute;
  right: 0;
  top: -3px;
}
.profilo-utente .name a img {
  height: 16px;
}
.profilo-utente ul.info {
  margin: 0;
  padding: 0;
  text-align: left;
}
.profilo-utente ul.info li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 10px;
}
.profilo-utente ul.info li span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  font-size: 12px;
  color: var(--steel);
}
.profilo-utente .nav-profile {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.profilo-utente .nav-profile li {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 33.33333333%;
  display: block;
  float: left;
}
.profilo-utente .nav-profile li a {
  display: block;
  text-align: center;
  padding: 12px 5px;
  background-color: var(--white);
  border-bottom: 2px solid var(--light-blue-grey);
  color: var(--steel);
}
.profilo-utente .nav-profile li.active a {
  color: var(--reddish-orange);
  border-bottom: 2px solid var(--reddish-orange);
}
@media (min-width: 1200px) {
  .profilo-utente {
    background-color: var(--white);
  }
  .profilo-utente .utente {
    width: 171px;
    height: 171px;
    top: -85px;
    margin-bottom: -85px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
  }
  .profilo-utente .name {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-bottom: none;
  }
  .profilo-utente .name a img {
    height: 36px;
  }
  .profilo-utente ul.info {
    text-align: center;
    padding-bottom: 40px;
  }
  .profilo-utente ul.info::before,
  .profilo-utente ul.info::after {
    clear: both;
    content: "";
    display: table;
  }
  .profilo-utente ul.info li {
    margin-bottom: 0px;
    display: inline-block;
    width: 33%;
  }
  .profilo-utente ul.info li img {
    height: 36px;
    margin-bottom: 25px;
  }
  .profilo-utente ul.info li span {
    display: block;
    margin-left: 0px;
    font-size: 18px;
  }
  .profilo-utente .nav-profile {
    margin-top: 80px;
  }
  .profilo-utente .nav-profile li a {
    padding: 15px 5px;
    font-size: 24px;
  }
}
.banner {
  width: 100%;
}
.banner img {
  width: 100%;
}
.banner-bg {
  position: relative;
  width: 100%;
  text-align: center;
}
.banner-bg .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner-bg .inner > div {
  display: table;
  width: 100%;
  height: 100%;
}
.banner-bg .inner > div > div {
  display: table-cell;
  vertical-align: middle;
}
.banner-bg .title {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--white);
  font-family: 'F37Ginger-Bold';
}
.banner-bg .subtitle {
  font-size: 14px;
  color: var(--white);
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'F37Ginger-Regular';
}
@media (min-width: 1200px) {
  .banner-bg .title {
    font-size: 44px;
    margin-bottom: 45px;
  }
  .banner-bg .subtitle {
    font-size: 30px;
  }
}
.top-button-hp .bttn {
  margin-bottom: 0;
  max-width: 475px;
  height: 66px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .top-button-hp {
    padding-top: 60px;
  }
  .top-button-hp .bttn {
    margin-top: 0px;
  }
  .top-button-hp .bttn-orange {
    float: left;
  }
  .top-button-hp .bttn-red {
    float: right;
  }
}
@media (min-width: 1200px) {
  .top-button-hp {
    padding-top: 60px;
  }
  .top-button-hp .bttn {
    margin-top: 0px;
    height: 127px;
  }
  .top-button-hp .bttn-orange {
    float: left;
  }
  .top-button-hp .bttn-red {
    float: right;
  }
}
.come-funziona {
  padding-top: 60px;
  text-align: center;
}
.come-funziona h2 {
  margin-top: 0;
}
.come-funziona img {
  width: 100%;
}
.come-funziona p {
  margin-bottom: 30px;
}
.come-funziona .flex-container .flex-item:nth-child(1) {
  order: 2;
}
.come-funziona .flex-container .flex-item:nth-child(2) {
  order: 1;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .come-funziona {
    padding-top: 120px;
    padding-bottom: 60px;
    text-align: left;
  }
  .come-funziona img {
    width: 100%;
    max-width: 450px;
  }
  .come-funziona p {
    margin-bottom: 0px;
    line-height: 1.2;
  }
  .come-funziona .flex-container {
    flex-direction: row;
  }
  .come-funziona .flex-container .flex-item {
    width: 50%;
  }
  .come-funziona .flex-container .flex-item:nth-child(1) {
    order: 1;
  }
  .come-funziona .flex-container .flex-item:nth-child(2) {
    order: 2;
  }
}
@media (min-width: 1200px) {
  .come-funziona {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: left;
  }
  .come-funziona h2 {
    font-size: 36px;
    margin-bottom: 60px;
  }
  .come-funziona img {
    width: 100%;
    max-width: 450px;
  }
  .come-funziona p {
    margin-bottom: 0px;
    font-size: 30px;
    line-height: 1.2;
  }
  .come-funziona .flex-container {
    flex-direction: row;
  }
  .come-funziona .flex-container .flex-item {
    width: 50%;
  }
  .come-funziona .flex-container .flex-item:nth-child(1) {
    order: 1;
  }
  .come-funziona .flex-container .flex-item:nth-child(2) {
    order: 2;
  }
}
.soluzione {
  padding-top: 60px;
  text-align: center;
}
.soluzione h2 {
  margin-bottom: 30px;
  margin-top: 0;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .soluzione {
    background-color: var(--ivory);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .soluzione h2 {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .soluzione {
    background-color: var(--ivory);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .soluzione h2 {
    margin-bottom: 60px;
    margin-top: 0;
    font-size: 36px;
  }
}
.vantaggi {
  padding-top: 45px;
  padding-bottom: 60px;
  text-align: center;
}
.vantaggi h2 {
  margin-bottom: 30px;
  margin-top: 0;
}
.vantaggi .span img {
  margin-bottom: 15px;
  height: 28px;
  margin-right: 15px;
}
.vantaggi .span span {
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: var(--aqua);
}
.vantaggi p {
  margin-bottom: 0;
}
.vantaggi .inner {
  margin-bottom: 30px;
}
.vantaggi .inner:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .vantaggi {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .vantaggi h2 {
    margin-bottom: 30px;
  }
  .vantaggi .span img {
    margin-bottom: 15px;
    height: 41px;
    margin-right: 0px;
  }
  .vantaggi .span span {
    display: block;
    margin-bottom: 15px;
  }
  .vantaggi .inner {
    margin-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .vantaggi {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .vantaggi h2 {
    margin-bottom: 60px;
    font-size: 36px;
  }
  .vantaggi .span img {
    margin-bottom: 15px;
    height: 41px;
    margin-right: 0px;
  }
  .vantaggi .span span {
    display: block;
    margin-bottom: 15px;
    font-size: 26px;
  }
  .vantaggi p {
    font-size: 20px;
  }
  .vantaggi .inner {
    margin-bottom: 0px;
  }
}
.vantaggi-noleggiatori {
  padding-top: 45px;
  padding-bottom: 60px;
  text-align: center;
}
.vantaggi-noleggiatori h2 {
  margin-bottom: 30px;
  margin-top: 0;
}
.vantaggi-noleggiatori img {
  margin-bottom: 15px;
  height: 45px;
}
.vantaggi-noleggiatori p {
  margin-bottom: 0;
}
.vantaggi-noleggiatori .inner {
  margin-bottom: 30px;
}
.vantaggi-noleggiatori .inner:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .vantaggi-noleggiatori {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .vantaggi-noleggiatori h2 {
    margin-bottom: 30px;
  }
  .vantaggi-noleggiatori img {
    margin-bottom: 15px;
    height: 41px;
    margin-right: 0px;
  }
  .vantaggi-noleggiatori .inner {
    float: none;
    display: inline-block;
    margin-left: -6px;
    vertical-align: top;
  }
}
@media (min-width: 1200px) {
  .vantaggi-noleggiatori {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .vantaggi-noleggiatori h2 {
    margin-bottom: 60px;
    font-size: 36px;
  }
  .vantaggi-noleggiatori img {
    margin-bottom: 15px;
    height: 60px;
    margin-right: 0px;
  }
  .vantaggi-noleggiatori p {
    font-size: 20px;
  }
  .vantaggi-noleggiatori .inner {
    float: none;
    display: inline-block;
    margin-left: -6px;
    margin-bottom: 50px;
    vertical-align: top;
  }
}
.propone {
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: var(--dark-blue-grey);
}
.propone h2 {
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
  color: var(--white);
}
.propone p {
  margin-bottom: 0;
}
.propone .bttn {
  margin-bottom: 0;
  margin-top: 30px;
}
.propone .scheda01 .inner:nth-child(3n + 1) {
  clear: none;
}
@media (min-width: 1200px) {
  .propone {
    padding-top: 60px;
    padding-bottom: 120px;
  }
  .propone h2 {
    font-family: 'F37Ginger-Bold';
    margin-bottom: 60px;
    font-size: 36px;
  }
}
.scheda01 * {
  outline: none;
}
.scheda01 .inner > div {
  width: 100%;
  border-radius: 4px;
  border: solid 1px var(--cloudy-blue);
  background-color: var(--white);
  padding: 30px 0px 30px 0px;
  min-height: 185px;
}
.scheda01 .inner .event {
  text-align: left;
  margin-bottom: 30px;
}
.scheda01 .inner .event img {
  width: 15%;
  display: inline-block;
}
.scheda01 .inner .event span {
  font-size: 12px;
  display: inline-block;
  width: calc(70%);
  vertical-align: middle;
  padding-left: 10px;
}
.scheda01 .inner .viaggi {
  text-align: left;
}
.scheda01 .inner .viaggi > div:nth-child(1) {
  padding-right: 0;
}
.scheda01 .inner .viaggi > div:nth-child(2) {
  text-align: center;
}
.scheda01 .inner .viaggi > div:nth-child(3) {
  padding-left: 0;
}
.scheda01 .inner .viaggi > div:nth-child(1),
.scheda01 .inner .viaggi > div:nth-child(3) {
  margin-bottom: 15px;
}
.scheda01 .inner .viaggi > div:nth-child(1) .citta,
.scheda01 .inner .viaggi > div:nth-child(3) .citta {
  display: block;
  font-size: 16px;
  color: var(--dark);
  margin-bottom: 5px;
}
.scheda01 .inner .viaggi > div:nth-child(1) .indirizzo,
.scheda01 .inner .viaggi > div:nth-child(3) .indirizzo {
  display: block;
  font-size: 10px;
  margin-bottom: 5px;
  color: var(--slate-grey);
}
.scheda01 .inner .viaggi > div:nth-child(1) .data,
.scheda01 .inner .viaggi > div:nth-child(3) .data {
  display: block;
  font-size: 8px;
  color: var(--cool-grey);
}
.scheda01 .inner:last-child {
  margin-bottom: 0;
}
.scheda01 .credito-posti {
  text-align: left;
}
.scheda01 .credito-posti::before,
.scheda01 .credito-posti::after {
  clear: both;
}
.scheda01 .credito-posti > div {
  margin-bottom: 0;
}
.scheda01 .credito-posti .span img {
  height: 24px;
  margin-right: 7px;
  margin-bottom: 5px;
}
.scheda01 .credito-posti .span span {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  color: var(--aqua);
}
.scheda01 .credito-posti .span.posti span {
  font-size: 16px;
  color: var(--steel);
}
.scheda01 .credito-posti .span.posti span b {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  display: inline-block;
  vertical-align: baseline;
  color: var(--reddish-orange);
}
.scheda01 .credito-posti .per-biglietto {
  font-size: 12px;
  color: var(--steel);
}
.scheda01 .opzioni > div {
  padding-right: 0;
  margin-right: -10px;
}
.scheda01 .opzioni img {
  height: 24px;
  margin-bottom: 5px;
}
.scheda01 .opzioni span {
  display: block;
  font-size: 12px;
}
.scheda01 .opzioni span.big {
  margin-top: 7px;
  font-size: 18px;
}
.scheda01 .dettaglio span.exc {
  color: var(--dark-blue-grey);
}
.scheda01 .dettaglio span.small {
  font-size: 10px;
  margin-top: 5px;
}
.scheda01 .dettaglio .extra {
  margin-top: 17px;
}
.scheda01 .dettaglio .extra small {
  font-size: 8px;
  margin-top: 3px;
}
.scheda01.scheda01-b .inner {
  margin-top: 5px;
  position: relative;
  z-index: 1;
}
.scheda01.scheda01-b .inner.exc {
  height: auto;
}
.scheda01.scheda01-b .inner > div {
  position: relative;
  padding-top: 35px;
  cursor: pointer;
  overflow: hidden;
  min-height: 0;
}
.scheda01.scheda01-b .inner > div .id-viaggio {
  position: absolute;
  top: 15px;
  left: 0px;
  width: 100%;
}
.scheda01.scheda01-b .inner > div .id-viaggio span {
  display: block;
  color: var(--cloudy-blue);
  font-size: 8px;
  letter-spacing: 0;
}
.scheda01.scheda01-b .inner > div::before {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 18px;
  cursor: pointer;
  content: url(../images/caret.svg);
  transform: rotate(-90deg);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.scheda01.scheda01-b .inner > div.no-open {
  cursor: default;
}
.scheda01.scheda01-b .inner > div.no-open::before {
  display: none;
}
.scheda01.scheda01-b .inner .excd {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
}
.scheda01.scheda01-b .inner .excd * {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
}
.scheda01.scheda01-b .inner.open {
  z-index: 2;
}
.scheda01.scheda01-b .inner.open > div {
  box-shadow: 0 0 3px 3px var(--cloudy-blue);
  padding-bottom: 0;
}
.scheda01.scheda01-b .inner.open > div::before {
  transform: rotate(0deg);
}
.scheda01.scheda01-b .inner.open * {
  max-height: 1000px !important;
  visibility: visible !important;
  opacity: 1 !important;
}
.scheda01.scheda01-b .inner.end.open > div {
  padding-bottom: 30px;
}
.scheda01.scheda01-b .inner:first-child {
  margin-top: 10px;
}
.scheda01.scheda01-b .inner .itinerario .title {
  color: var(--charcoal-grey);
  font-size: 10px;
  display: block;
  margin-bottom: 5px;
}
.scheda01.scheda01-b .inner .itinerario .title img {
  height: 19px;
  margin-left: -4px;
}
.scheda01.scheda01-b .inner .itinerario table {
  width: 100%;
}
.scheda01.scheda01-b .inner .itinerario table thead {
  display: block;
  width: 100%;
}
.scheda01.scheda01-b .inner .itinerario table thead tr {
  margin-bottom: 10px;
}
.scheda01.scheda01-b .inner .itinerario table thead tr th {
  font-weight: normal;
}
.scheda01.scheda01-b .inner .itinerario table thead tr th img {
  height: 19px;
}
.scheda01.scheda01-b .inner .itinerario table thead tr th span {
  font-size: 10px;
  color: var(--slate-grey);
  display: inline-block;
  margin-left: -5px;
  margin-bottom: 5px;
  margin-right: 10px;
}
.scheda01.scheda01-b .inner .itinerario table tbody {
  display: block;
  height: 70px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.scheda01.scheda01-b .inner .itinerario table tbody::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
  position: relative;
}
.scheda01.scheda01-b .inner .itinerario table tbody::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.scheda01.scheda01-b .inner .itinerario table tbody tr td {
  vertical-align: top;
}
.scheda01.scheda01-b .inner .itinerario table tbody tr td span {
  font-size: 9px;
  color: var(--steel);
  padding-left: 15px;
  margin-top: 5px;
  display: inline-block;
  letter-spacing: 0px;
  margin-right: 10px;
}
.scheda01.scheda01-b .inner .itinerario table tbody tr:last-child td span {
  margin-bottom: 20px;
}
.scheda01.scheda01-b .inner .mezzo img {
  height: 30px;
  margin-right: 10px;
}
.scheda01.scheda01-b .inner .mezzo span {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}
.scheda01.scheda01-b .inner .mezzo span span {
  font-size: 20px;
  margin-left: 10px;
}
.scheda01.scheda01-b .inner .cliente ul {
  margin: 0;
  padding: 0;
}
.scheda01.scheda01-b .inner .cliente ul::before,
.scheda01.scheda01-b .inner .cliente ul::after {
  clear: both;
  display: table;
  content: "";
}
.scheda01.scheda01-b .inner .cliente .info {
  text-align: left;
}
.scheda01.scheda01-b .inner .cliente .info li {
  margin-bottom: 10px;
}
.scheda01.scheda01-b .inner .cliente .info li span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  font-size: 12px;
  color: var(--steel);
}
.scheda01.scheda01-b .inner .event {
  margin-bottom: 0;
}
.scheda01.scheda01-b .inner .acquista > div {
  background-color: var(--very-light-blue);
  padding-top: 20px;
  padding-bottom: 20px;
}
.scheda01.scheda01-b .inner .acquista > div .bttn {
  margin: 0;
}
.scheda01.scheda01-b .inner .acquista > div .bttn-transparent {
  border: none;
  padding-left: 0;
  text-align: left;
  box-shadow: none;
}
.scheda01.scheda01-b .inner .acquista > div .bttn-transparent span {
  font-size: 12px;
}
.scheda01.scheda01-b .inner .acquista > div a.orange {
  line-height: 44px;
}
.scheda01.scheda01-b .inner.exc > div {
  cursor: default;
}
.scheda01.scheda01-b .inner.exc > div::before {
  display: none;
}
.scheda01 .scheda03 .inner {
  margin-bottom: 20px;
}
.scheda01 .scheda03 .item .radio input[type="radio"] + label {
  font-size: 12px;
  padding: 0 0 0 0px;
}
.scheda01 .scheda03 input[type="radio"] + label .radio-button {
  top: -1px;
}
.scheda01 .scheda03 .inner > div {
  padding-top: 15px;
  min-height: 0;
  padding-bottom: 10px;
}
.scheda01 .scheda03 .inner > div .steel {
  padding-left: 25px;
}
.scheda01 .scheda03 .inner > div .steel img {
  height: 15px;
}
.scheda01 .scheda03 .item .radio input[type="radio"] + label .plus {
  margin-bottom: 0px !important;
  text-align: left;
}
.scheda01 .scheda03 .item .radio input[type="radio"]:checked + label .plus {
  margin-top: 15px;
  border-top: 1px solid var(--ivory);
  padding-top: 15px;
}
.scheda01 .scheda03 .item .radio .caret {
  height: 15px;
}
.scheda01 .scheda03 .radio input[type="radio"] + label .plus label {
  padding-left: 0;
  color: var(--steel);
}
@media (min-width: 768px) and (max-width: 1199px) {
  .scheda01 .inner .viaggi {
    height: 110px;
  }
  .scheda01 .inner:nth-child(2n + 1) {
    clear: both;
  }
  .scheda01.scheda01-b .inner {
    margin-top: 10px;
    position: relative;
    z-index: 1;
  }
}
@media (min-width: 1200px) {
  .scheda01 .inner {
    visibility: visible;
  }
  .scheda01 .inner .event {
    margin-bottom: 10px;
  }
  .scheda01 .inner .viaggi {
    height: 150px;
  }
  .scheda01 .inner .viaggi > div:nth-child(1) .citta,
  .scheda01 .inner .viaggi > div:nth-child(3) .citta {
    font-size: 20px;
  }
  .scheda01 .inner .viaggi > div:nth-child(1) .indirizzo,
  .scheda01 .inner .viaggi > div:nth-child(3) .indirizzo {
    font-size: 12px;
  }
  .scheda01 .inner .viaggi > div:nth-child(1) .data,
  .scheda01 .inner .viaggi > div:nth-child(3) .data {
    font-size: 10px;
  }
  .scheda01 .inner .credito-posti > div {
    margin-bottom: 0;
  }
  .scheda01 .inner .credito-posti .span img {
    height: 30px;
  }
  .scheda01 .inner .credito-posti .span.posti span {
    font-size: 16px;
    color: var(--steel);
  }
  .scheda01 .inner .credito-posti .span.posti span b {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    display: inline-block;
    vertical-align: baseline;
    color: var(--reddish-orange);
  }
  .scheda01 .inner .credito-posti .per-biglietto {
    font-size: 12px;
    color: var(--steel);
  }
  .scheda01 .inner .opzioni img {
    height: 30px;
    margin-bottom: 10px;
  }
  .scheda01 .inner .opzioni span {
    font-size: 14px;
  }
  .scheda01 .inner .opzioni span.big {
    margin-top: 15px;
    font-size: 26px;
  }
  .scheda01 .inner .dettaglio span.small {
    font-size: 12px;
    margin-top: 15px;
  }
  .scheda01 .inner .dettaglio .extra {
    margin-top: 30px;
  }
  .scheda01 .inner .dettaglio .extra small {
    font-size: 12px;
    margin-top: 15px;
  }
  .scheda01 .inner:nth-child(3n + 1) {
    clear: both;
  }
  .scheda01.scheda01-b .inner {
    height: 267px;
    margin-top: 30px;
  }
  .scheda01.scheda01-b .inner:first-child {
    margin-top: 30px;
  }
  .scheda01.scheda01-b .inner .itinerario .title {
    font-size: 12px;
  }
  .scheda01.scheda01-b .inner .cliente ul {
    margin: 0;
    padding: 0;
  }
  .scheda01.scheda01-b .inner .cliente ul::before,
  .scheda01.scheda01-b .inner .cliente ul::after {
    clear: both;
    display: table;
    content: "";
  }
  .scheda01.scheda01-b .inner .cliente .info li {
    display: block;
    width: 100%;
    list-style: none;
  }
  .scheda01.scheda01-b .inner .cliente .info li img {
    height: 16px;
    margin-bottom: 0px;
  }
  .scheda01.scheda01-b .inner .acquista > div .bttn {
    height: 40px;
    font-size: 16px;
  }
  .scheda01.scheda01-b .inner .acquista > div a.orange {
    line-height: 40px;
  }
  .scheda01 .scheda03 .item .radio input[type="radio"] + label {
    font-size: 16px;
  }
  .scheda01 .scheda03 input[type="radio"] + label .radio-button {
    top: -3px;
  }
  .scheda01 .scheda03 .inner > div .steel img {
    height: 25px;
    margin-top: -3px;
  }
}
.scheda02 {
  text-align: center;
}
.scheda02 img {
  margin-bottom: 20px;
  height: 51px;
}
.scheda02 p {
  margin-bottom: 0;
  min-height: 68px;
}
.scheda02 .bttn {
  margin-bottom: 0;
  margin-top: 30px;
}
.scheda02 > div > div {
  margin-bottom: 15px;
}
.scheda02 > div > div .inner {
  width: 100%;
  border-radius: 4px;
  border: solid 1px var(--cloudy-blue);
  background-color: var(--white);
  padding: 30px 0px 30px 0px;
}
.scheda02 > div > div:last-child {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .scheda02 img {
    margin-bottom: 30px;
    height: 83px;
  }
  .scheda02 p {
    font-size: 20px;
    margin-bottom: 0;
    min-height: 140px;
  }
  .scheda02 .bttn {
    margin-bottom: 0;
    margin-top: 30px;
  }
  .scheda02 > div > div {
    margin-bottom: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .scheda02 p {
    min-height: 100px;
  }
  .scheda02 .flex-container {
    flex-direction: row;
  }
  .scheda02 .flex-container .flex-item {
    margin-bottom: 0px;
  }
}
.scheda03 {
  text-align: left;
}
.scheda03 .inner {
  margin-bottom: 30px;
}
.scheda03 .inner:last-child {
  margin-bottom: 0;
}
.scheda03 .inner > div {
  border-radius: 4px;
  border: solid 1px var(--cloudy-blue);
  background-color: var(--white);
}
.scheda03 .item::before,
.scheda03 .item::after {
  content: "";
  display: table;
  clear: both;
}
.scheda03 .item .radio {
  display: block;
  margin: 0;
  width: 100%;
  padding-left: 0px;
  position: relative;
}
.scheda03 .item .radio input[type="radio"]{
  clip: inherit !important;
  top: 17px;
}
.scheda03 .item .radio .top {
  margin-bottom: 10px;
}
.scheda03 .item .radio .radio-img {
  height: 24px;
  margin-left: 30px;
}
.scheda03 .item .radio .name {
  display: inline-block;
  color: var(--reddish-orange);
  margin-left: 5px;
  vertical-align: middle;
}
.scheda03 .item .radio .caret {
  position: absolute;
  right: 0px;
  width: 20px;
  height: 18px;
  background-image: url(../images/caret.svg);
  transform: rotate(-90deg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  margin: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.scheda03 .item .radio .supplemento {
  position: relative;
  z-index: 1;
  top: -25px;
  margin-bottom: -26px;
  display: block;
  color: var(--dark-blue-grey);
  text-align: right;
  font-size: 16px;
  padding-right: 35px;
  line-height: 24px;
}
.scheda03 .item .radio .supplemento span {
  vertical-align: middle;
}
.scheda03 .item .radio .img-container {
  height: 0px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.scheda03 .item .radio .img-container img {
  width: 100%;
}
.scheda03 .item .radio .text-container {
  margin-top: 10px;
}
.scheda03 .item .radio .text-container p {
  font-size: 12px;
  margin-bottom: 15px;
  color: var(--steel);
}
.scheda03 .item .radio .text-container .classe-ambientale span {
  font-size: 10px;
  color: var(--steel);
}
.scheda03 .item .radio .plus {
  max-height: 0;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.scheda03 .item .radio .plus .title {
  font-size: 12px;
  color: var(--slate-grey);
  display: block;
  margin-bottom: 5px;
}
.scheda03 .item .radio .plus .subtitle {
  font-size: 10px;
  color: var(--cloudy-blue);
  display: block;
}
.scheda03 .item .radio .plus ul {
  margin: 0;
  padding: 0;
}
.scheda03 .item .radio .plus ul::before,
.scheda03 .item .radio .plus ul::after {
  content: "";
  display: table;
  clear: both;
}
.scheda03 .item .radio .plus ul li {
  display: block;
  width: 50%;
  float: left;
  padding-right: 10px;
  list-style: none;
}
.scheda03 .item .radio .plus ul li::nth-child(2n + 1) {
  clear: both;
}
.scheda03 .item .radio .plus ul li .checkbox {
  margin-bottom: 0;
  width: 100%;
}
.scheda03 .item .radio .plus ul li .checkbox label {
  font-size: 10px;
  line-height: 12px;
  color: var(--steel);
  min-height: 0;
  display: inline-block;
  vertical-align: middle;
  padding-left: 0;
  width: 100%;
}
.scheda03 .item .radio .plus ul li .checkbox label .check-container {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.scheda03 .item .radio .plus ul li .checkbox label .check-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: auto;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.scheda03 .item .radio .plus ul li .checkbox label .check-container .unchecked {
  opacity: 1;
  z-index: 2;
}
.scheda03 .item .radio .plus ul li .checkbox label .check-container .checked {
  opacity: 0;
  z-index: 1;
}
.scheda03 .item .radio .plus ul li .checkbox label span {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 27px);
}
.scheda03 .item .radio .plus ul li input[type="checkbox"]:checked + label img.unchecked {
  opacity: 0;
}
.scheda03 .item .radio .plus ul li input[type="checkbox"]:checked + label img.checked {
  opacity: 1;
}
.scheda03 .item .radio input[type="radio"] + label {
  font-size: 16px;
  margin-left: 0px;
  padding-left: 0px;
  padding-top: 15px;
  width: 100%;
  display: block;
}
.scheda03 .item .radio input[type="radio"]:checked + label .caret {
  transform: rotate(0deg);
}
.scheda03 .item .radio input[type="radio"]:checked + label .img-container {
  height: 120px;
}
.scheda03 .item .radio input[type="radio"]:checked + label .plus {
  max-height: 1000px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .scheda03 .inner {
    margin-bottom: 60px;
  }
  .scheda03 .inner:last-child {
    margin-bottom: 60px;
  }
  .scheda03 .item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .scheda03 .item .radio .caret {
    top: 17px;
    right: -7px;
  }
  .scheda03 .item .radio .supplemento {
    top: -24px;
    padding-right: 20px;
  }
  .scheda03 .item .radio .plus ul li .checkbox label .check-container {
    width: 20px;
  }
  .scheda03 .item .radio .plus ul li .checkbox label .check-container img {
    width: 20px;
  }
  .scheda03 .item .radio .plus ul li .checkbox label span {
    width: calc(100% - 23px);
  }
  .scheda03 .item .radio input[type="radio"] + label .img-container {
    height: 200px;
  }
  .scheda03 .item .radio input[type="radio"] + label .plus {
    max-height: 1000px;
  }
  .scheda03 .item .radio input[type="radio"]:checked + label .img-container {
    height: 200px;
  }
  .scheda03 .item .radio input[type="radio"]:checked + label .plus {
    max-height: 1000px;
  }
}
@media (min-width: 1200px) {
  .scheda03 .inner {
    margin-bottom: 60px;
  }
  .scheda03 .inner:last-child {
    margin-bottom: 60px;
  }
  .scheda03 .item .radio .radio-img {
    height: 30px;
  }
  .scheda03 .item .radio .name {
    font-size: 20px;
  }
  .scheda03 .item .radio .caret {
    width: 20px;
    height: 30px;
  }
  .scheda03 .item .radio .supplemento {
    font-size: 20px;
    top: -27px;
  }
  .scheda03 .item .radio input[type="radio"] + label .img-container {
    height: 200px;
  }
  .scheda03 .item .radio input[type="radio"] + label .plus {
    max-height: 1000px;
  }
  .scheda03 .item .radio input[type="radio"]:checked + label .img-container {
    height: 200px;
  }
  .scheda03 .item .radio input[type="radio"]:checked + label .plus {
    max-height: 1000px;
  }
}
.standard {
  background-color: var(--aqua);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.standard * {
  color: var(--white);
}
.standard h3 {
  margin-top: 0px;
  font-size: 16px;
  margin-bottom: 15px;
}
.standard p {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .standard {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .standard h3 {
    font-family: 'F37Ginger-Bold';
    font-size: 36px;
    margin-bottom: 25px;
  }
  .standard p {
    font-size: 30px;
    margin-bottom: 0;
  }
}
.rimani-informato {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.rimani-informato img {
  margin-bottom: 15px;
  width: 28px;
}
.rimani-informato h3 {
  margin-top: 0px;
  font-size: 16px;
  color: var(--charcoal-grey);
  margin-bottom: 15px;
}
.rimani-informato p {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .rimani-informato {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .rimani-informato img {
    margin-bottom: 30px;
    width: 41px;
  }
  .rimani-informato h3 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .rimani-informato p {
    font-size: 20px;
    margin-bottom: 0;
  }
}
.not-found {
  background: var(--ivory);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.not-found h3 {
  margin-top: 0px;
  font-size: 16px;
  color: var(--charcoal-grey);
  margin-bottom: 15px;
}
.not-found p {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .not-found {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .not-found h3 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .not-found p {
    font-size: 20px;
    margin-bottom: 0;
  }
}
.tab-noleggio {
  position: relative;
  z-index: 2;
  margin-top: -30px;
}
.tab-noleggio::before,
.tab-noleggio::after {
  display: table;
  clear: both;
  content: "";
}
.tab-noleggio > a {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--cloudy-blue);
  box-shadow: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  color: var(--steel);
  background-color: var(--white);
  display: block;
  float: left;
  width: 50%;
  border-radius: 0;
}
.tab-noleggio > a.active,
.tab-noleggio > a:hover {
  color: var(--reddish-orange);
  border-bottom: 2px solid var(--reddish-orange);
}
form {
  display: block;
  margin-top: -1px;
  z-index: 1;
  position: relative;
}
form .form-box {
  padding: 30px 0 30px 0;
  border: 1px solid var(--cloudy-blue);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--white);
}
form .tappe {
  position: relative;
}
form .parziale {
  position: relative;
  top: -10px;
  margin-bottom: -10px;
  background-color: var(--white);
  border: 1px solid var(--cloudy-blue);
  border-radius: 4px;
  height: 44px;
  padding: 6px;
  float: right;
}
form .parziale > div {
  display: block;
  float: left;
}
form .parziale > div.km span:first-child {
  display: block;
  font-size: 10px;
}
form .parziale > div.km span:last-child {
  display: block;
  font-size: 16px;
  color: var(--slate-grey);
}
form .parziale > div.prezzo {
  position: relative;
  padding-left: 25px;
}
form .parziale > div.prezzo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 12px;
  width: 1px;
  height: 100%;
  background-color: var(--cloudy-blue);
}
form .parziale > div.prezzo span:first-child {
  display: block;
  font-size: 10px;
}
form .parziale > div.prezzo span:last-child {
  display: block;
  font-size: 16px;
  color: var(--aqua);
}
.iframe-content {
  line-height: 0;
  margin-top: 60px;
}
.iframe-content iframe {
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -60px;
}
.step3 form .form-box {
  border-radius: 4px;
}
.step3 form input[type="text"] {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.step3 form .tappe .input:last-child {
  margin-bottom: 20px;
  position: relative;
  top: 20px;
}
.step3 .delete{
  top: 5px;
  right: 5px;
}
.noleggia-content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.noleggia-content h2 {
  margin-bottom: 15px;
  margin-top: 0;
}
.noleggia-content p {
  margin-bottom: 30px;
}
.noleggia-content img {
  margin-bottom: 10px;
  height: 48px;
}
.noleggia-content h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  color: var(--dark-blue-grey);
}
.noleggia-content .inner {
  margin-bottom: 30px;
}
.noleggia-content .inner > div {
  width: 100%;
}
.noleggia-content .inner:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .tab-noleggio {
    margin-top: 0;
  }
  .tab-noleggio > a {
    padding: 20px 10px;
    z-index: 1 !important;
  }
  .tab-noleggio > a.active {
    z-index: 2 !important;
  }
  .iframe-content {
    margin-top: 0;
  }
  .iframe-content iframe {
    height: 385px;
    width: 100%;
    margin: 0;
  }
  .step3 form .form-box {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .bttn-google {
    margin-top: 60px;
  }
}
.noleggia-content {
  padding-top: 60px;
  padding-bottom: 60px;
}
.noleggia-content p {
  margin-bottom: 0;
}
.noleggia-content img {
  margin-bottom: 0px;
  height: 80px;
}
.noleggia-content .inner {
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
}
.noleggia-content .inner > div {
  width: 100%;
}
.noleggia-content .inner:last-child {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .tab-noleggio {
    margin-top: 0;
  }
  .tab-noleggio > a {
    padding: 20px 10px;
    z-index: 1 !important;
  }
  .tab-noleggio > a.active {
    z-index: 2 !important;
  }
  form .parziale {
    height: 68px;
    padding: 12px 6px;
  }
  form .parziale > div.km span:first-child {
    font-size: 12px;
  }
  form .parziale > div.km span:last-child {
    font-size: 24px;
  }
  form .parziale > div.prezzo span:first-child {
    font-size: 12px;
  }
  form .parziale > div.prezzo span:last-child {
    font-size: 24px;
  }
  .iframe-content {
    margin-top: 0;
  }
  .iframe-content iframe {
    height: 410px;
    width: 100%;
    margin: 0;
  }
  .step3 form .form-box {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .bttn-google {
    margin-top: 60px;
  }
  .noleggia-content {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .noleggia-content h2 {
    margin-bottom: 30px;
    font-size: 36px;
  }
  .noleggia-content p {
    font-size: 30px;
    margin-bottom: 0;
  }
  .noleggia-content img {
    margin-bottom: 15px;
    height: 160px;
  }
  .noleggia-content h3 {
    font-size: 24px;
  }
  .noleggia-content .inner {
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
  }
  .noleggia-content .inner > div {
    width: 100%;
  }
  .noleggia-content .inner:last-child {
    margin-bottom: 0;
  }
}
.tipologia-noleggio {
  margin-bottom: 15px;
}
.tipologia-noleggio .input::before,
.tipologia-noleggio .input::after {
  display: none;
}
.tipologia-noleggio .inner {
  background-color: var(--white);
  border: 1px solid var(--cloudy-blue);
  padding: 15px 0;
  border-radius: 4px;
}
.tipologia-noleggio .inner .exc {
  padding-right: 0;
}
.tipologia-noleggio .inner .radio {
  margin-top: 0;
  margin-bottom: 0;
}
.tipologia-noleggio .inner p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 16.8px;
}
.tipologia-noleggio .inner .prezzo {
  font-size: 18px;
  display: block;
}
.tipologia-noleggio .inner .prezzo .line-through {
  text-decoration: line-through;
}
.tipologia-noleggio .inner .prezzo .sale {
  color: var(--aqua);
}
.tipologia-noleggio:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .tipologia-noleggio {
    margin-bottom: 0px;
  }
  .tipologia-noleggio .inner {
    min-height: 180px;
  }
}
@media (min-width: 1200px) {
  .tipologia-noleggio {
    margin-bottom: 0px;
  }
  .tipologia-noleggio .inner {
    padding: 60px 0;
  }
  .tipologia-noleggio .inner p {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    height: 100px;
  }
  .tipologia-noleggio .inner .prezzo {
    margin-bottom: 15px;
  }
  .tipologia-noleggio .inner .prezzo .line-through {
    font-size: 30px;
    margin: 0 5px;
  }
  .tipologia-noleggio .inner .prezzo .sale {
    font-size: 30px;
    margin: 0 5px;
  }
  .tipologia-noleggio .inner .prezzo .price {
    font-size: 30px;
    margin: 0 5px;
  }
}
.conferma {
  text-align: center;
}
.conferma h1 {
  color: var(--lightish-red);
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.conferma p {
  color: var(--dark-blue-grey);
}
.search-filter .top {
  background-color: var(--very-light-blue);
  border: 1px solid var(--cloudy-blue);
  border-radius: 4px;
  padding: 5px 0;
}
.search-filter .top .input-search {
  display: block;
  float: left;
  height: 24px;
}
.search-filter .top .input-search::before {
  content: url(../images/icons-svg/search.svg);
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.search-filter .top .input-search input[type="search"] {
  display: inline-block;
  vertical-align: middle;
  border: none;
  background-color: transparent;
  box-shadow: none;
  font-size: 16px;
  line-height: 22px;
}
.search-filter .top .input-search input[type="search"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--steel);
}
.search-filter .top .input-search input[type="search"]::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--steel);
}
.search-filter .top .input-search input[type="search"]:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--steel);
}
.search-filter .top .input-search input[type="search"]:-moz-placeholder {
  /* Firefox 18- */
  color: var(--steel);
}
.search-filter .top .filter {
  position: relative;
  display: block;
  float: right;
  line-height: 22px;
  width: 16px;
  height: 24px;
  cursor: pointer;
}
.search-filter .top .filter img {
  position: absolute;
  right: 0;
  top: calc(50% - 8px);
  width: 16px;
  height: 16px;
  vertical-align: middle;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.search-filter .top .filter img.active {
  opacity: 1;
  visibility: visible;
}
.search-filter .bottom {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.search-filter .bottom.open {
  max-height: 2000px;
  visibility: visible;
  overflow: visible;
  opacity: 1;
}
.search-filter .border-box {
  padding-bottom: 0;
  margin-top: 10px;
}
.search-filter .border-box h3 {
  color: var(--reddish-orange);
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 30px;
  letter-spacing: -0.39px;
}
@media (min-width: 1200px) {
  .search-filter .top {
    padding: 10px 0;
  }
  .search-filter .top .input-search {
    width: 50%;
  }
  .search-filter .top .input-search::before {
    position: relative;
    top: 0px;
    height: 36px;
    width: 36px;
  }
  .search-filter .top .input-search input[type="search"] {
    font-size: 20px;
    line-height: 22px;
    vertical-align: middle;
    width: calc(100% - 60px);
  }
  .search-filter .top .filter {
    width: 36px;
    height: 36px;
  }
  .search-filter .top .filter img {
    top: calc(50% - 18px);
    width: 36px;
    height: 36px;
  }
  .search-filter .border-box h3 {
    font-size: 20px;
    margin-bottom: 30px;
    letter-spacing: -0.48px;
  }
}
.aggregati.step01 {
  padding-top: 30px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .aggregati.step01 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.fermate p {
  font-size: 12px;
  margin-bottom: 5px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .fermate .item:nth-child(3n + 1) {
    clear: both;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .fermate .item:nth-child(3n + 1) {
    clear: both;
  }
}
@media (min-width: 1200px) {
  .fermate p {
    font-size: 18px;
  }
  .fermate .item:nth-child(3n + 1) {
    clear: both;
  }
}
.i-nostri-mezzi .scheda03 .item .radio .img-container {
  height: 120px;
}
.i-nostri-mezzi .scheda03 .item .radio .plus {
  max-height: 1000px;
}
.i-nostri-mezzi .scheda03 .item .radio .caret {
  display: none;
}
.i-nostri-mezzi .scheda03 .item .radio .supplemento {
  padding-right: 0;
}
@media (min-width: 1200px) {
  .i-nostri-mezzi .scheda03 .item .radio .img-container {
    height: 200px;
  }
}
.contattaci .form-box {
  border-radius: 4px;
  margin-top: 30px;
}
.contattaci h2 {
  margin-bottom: 5px;
}
.contattaci .exc {
  font-size: 12px;
}
@media (min-width: 1200px) {
  .contattaci h2 {
    margin-bottom: 10px;
  }
  .contattaci .exc {
    font-size: 18px;
  }
}
.faqs p {
  font-size: 12px;
  margin-bottom: 5px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .faqs .item:nth-child(2n + 1) {
    clear: both;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .faqs .item:nth-child(2n + 1) {
    clear: both;
  }
}
@media (min-width: 1200px) {
  .faqs p {
    font-size: 18px;
  }
  .faqs .item:nth-child(2n + 1) {
    clear: both;
  }
}
.chi-siamo {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.chi-siamo .title {
  margin-bottom: 60px;
}
.chi-siamo .title span {
  font-size: 16px;
}
.chi-siamo .span img {
  margin-bottom: 15px;
  height: 51px;
}
.chi-siamo .span h2 {
  margin-bottom: 15px;
  margin-top: 0;
  display: block;
  vertical-align: middle;
  font-size: 16px;
}
.chi-siamo p {
  margin-bottom: 0;
  font-size: 12px;
}
.chi-siamo .inner {
  margin-bottom: 30px;
}
.chi-siamo .inner:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .chi-siamo .span img {
    margin-bottom: 15px;
    height: 71px;
  }
  .chi-siamo .span h2 {
    margin-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .chi-siamo {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .chi-siamo .title span {
    font-size: 30px;
  }
  .chi-siamo .span img {
    margin-bottom: 25px;
    height: 81px;
  }
  .chi-siamo .span h2 {
    margin-bottom: 15px;
    font-size: 26px;
  }
  .chi-siamo p {
    font-size: 20px;
  }
  .chi-siamo .inner {
    margin-bottom: 60px;
  }
}
.noleggiatori {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.noleggiatori .title {
  margin-bottom: 60px;
}
.noleggiatori .title span {
  font-size: 16px;
}
.noleggiatori .inner {
  margin-bottom: 30px;
}
.noleggiatori .inner img {
  margin-bottom: 15px;
  height: 51px;
}
.noleggiatori .inner p {
  margin-bottom: 0;
  font-size: 12px;
}
.noleggiatori .inner:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .noleggiatori .inner img {
    margin-bottom: 15px;
    height: 71px;
  }
}
@media (min-width: 1200px) {
  .noleggiatori {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .noleggiatori .title span {
    font-size: 30px;
  }
  .noleggiatori .inner {
    margin-bottom: 60px;
  }
  .noleggiatori .inner img {
    margin-bottom: 25px;
    height: 81px;
  }
  .noleggiatori .inner p {
    font-size: 20px;
  }
}
.network * {
  color: var(--white);
}
.network h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 18px;
}
@media (min-width: 1200px) {
  .network * {
    color: var(--white);
  }
  .network h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
  }
  .network p {
    font-size: 30px;
  }
}
footer.footer {
  text-align: center;
}
footer.footer .top-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--powder-blue);
}
footer.footer .top-footer .logo-footer {
  height: 22px;
}
footer.footer .top-footer .social {
  margin: 30px 0;
  padding: 0;
  text-align: center;
}
footer.footer .top-footer .social li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}
footer.footer .top-footer .social li a {
  display: block;
}
footer.footer .top-footer .social li a img {
  width: 22px;
}
footer.footer .top-footer .info,
footer.footer .top-footer .contatti {
  margin-top: 20px;
}
footer.footer .top-footer .info span,
footer.footer .top-footer .contatti span {
  display: block;
  font-size: 16px;
  color: var(--dark-blue-grey);
  letter-spacing: -0.7px;
  margin-bottom: 5px;
}
footer.footer .top-footer .info span:last-child,
footer.footer .top-footer .contatti span:last-child {
  margin-bottom: 0;
}
footer.footer .top-footer .support {
  margin-top: 30px;
  font-size: 16px;
  color: var(--slate-grey);
}
footer.footer .top-footer .support span {
  display: block;
}
footer.footer .credits {
  background-color: var(--dark-blue-grey);
  font-size: 10px;
  line-height: 1.68;
  color: var(--very-light-blue);
  padding: 10px 0;
}
footer.footer .credits span img {
  width: 13px;
  margin: 0 5px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  footer.footer .top-footer .logo-footer {
    margin-bottom: 30px;
  }
  footer.footer .top-footer .nav-footer {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
  }
  footer.footer .top-footer .nav-footer li {
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
  }
  footer.footer .top-footer .nav-footer li:last-child {
    margin-bottom: 0;
  }
  footer.footer .top-footer .nav-footer li a {
    color: var(--dark-blue-grey);
  }
  footer.footer .top-footer .social {
    margin: 0px 0;
    padding: 0;
    text-align: center;
  }
  footer.footer .top-footer .social li {
    list-style: none;
    display: block;
    margin: 0 0px;
    width: 20%;
    float: left;
  }
  footer.footer .top-footer .social li a {
    display: block;
  }
  footer.footer .top-footer .social li a img {
    width: 20px;
  }
  footer.footer .top-footer .info,
  footer.footer .top-footer .contatti {
    margin-top: 0px;
    text-align: left;
  }
  footer.footer .top-footer .info span,
  footer.footer .top-footer .contatti span {
    color: var(--slate-grey);
    letter-spacing: normal;
    margin-bottom: 10px;
  }
  footer.footer .top-footer .info span:last-child,
  footer.footer .top-footer .contatti span:last-child {
    margin-bottom: 0;
  }
  footer.footer .top-footer .contatti {
    margin-top: 20px;
  }
  footer.footer .top-footer .support {
    margin-top: 0px;
    color: var(--slate-grey);
  }
  footer.footer .top-footer .support span {
    display: block;
  }
  footer.footer .credits {
    padding: 15px 0;
  }
  footer.footer .credits span img {
    width: 20px;
    margin: 0 5px;
  }
}
@media (min-width: 1200px) {
  footer.footer .top-footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  footer.footer .top-footer .logo-footer {
    height: 41px;
    margin-bottom: 60px;
  }
  footer.footer .top-footer .nav-footer {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
  }
  footer.footer .top-footer .nav-footer li {
    padding: 0;
    list-style: none;
    margin-bottom: 15px;
  }
  footer.footer .top-footer .nav-footer li:last-child {
    margin-bottom: 0;
  }
  footer.footer .top-footer .nav-footer li a {
    font-size: 20px;
    color: var(--dark-blue-grey);
  }
  footer.footer .top-footer .social {
    margin: 0px 0;
    padding: 0;
    text-align: center;
  }
  footer.footer .top-footer .social li {
    list-style: none;
    display: block;
    margin: 0 0px;
    width: 20%;
    float: left;
  }
  footer.footer .top-footer .social li a {
    display: block;
  }
  footer.footer .top-footer .social li a img {
    width: 40px;
  }
  footer.footer .top-footer .info,
  footer.footer .top-footer .contatti {
    margin-top: 0px;
    text-align: left;
  }
  footer.footer .top-footer .info span,
  footer.footer .top-footer .contatti span {
    font-size: 18px;
    color: var(--slate-grey);
    letter-spacing: normal;
    margin-bottom: 12px;
  }
  footer.footer .top-footer .info span:last-child,
  footer.footer .top-footer .contatti span:last-child {
    margin-bottom: 0;
  }
  footer.footer .top-footer .contatti {
    margin-top: 20px;
  }
  footer.footer .top-footer .support {
    margin-top: 0px;
    font-size: 18px;
    color: var(--slate-grey);
  }
  footer.footer .top-footer .support span {
    display: block;
  }
  footer.footer .credits {
    font-size: 20px;
    padding: 15px 0;
  }
  footer.footer .credits span img {
    width: 20px;
    margin: 0 5px;
  }
}
.icon-chevron-up {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(../images/caret.svg);
  transform: rotate(180deg);
  background-position: center;
  background-repeat: no-repeat;
}
.icon-chevron-down {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(../images/caret.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.bootstrap-datetimepicker-widget td.active:hover,
.bootstrap-datetimepicker-widget td.active:hover:hover,
.bootstrap-datetimepicker-widget td.active:active,
.bootstrap-datetimepicker-widget td.active:hover:active,
.bootstrap-datetimepicker-widget td.active.active,
.bootstrap-datetimepicker-widget td.active:hover.active,
.bootstrap-datetimepicker-widget td.active.disabled,
.bootstrap-datetimepicker-widget td.active:hover.disabled,
.bootstrap-datetimepicker-widget td.active[disabled],
.bootstrap-datetimepicker-widget td.active:hover[disabled] {
  background-color: var(--reddish-orange) !important;
}
.bootstrap-datetimepicker-widget td.active:active,
.bootstrap-datetimepicker-widget td.active:hover:active,
.bootstrap-datetimepicker-widget td.active.active,
.bootstrap-datetimepicker-widget td.active:hover.active {
  background-color: var(--reddish-orange) !important;
}
.bootstrap-datetimepicker-widget td.active,
.bootstrap-datetimepicker-widget td.active:hover {
  background-color: var(--reddish-orange) !important;
  background-image: none;
}

.swal2-popup{
  padding: 20px !important;
}
.swal2-popup .swal2-title{
  color: var(--reddish-orange) !important;
}
.swal2-actions{
  display: block !important;
  width: 100% !important;
}
.swal2-popup .swal2-styled{
  width: 100% !important;
  height: 44px !important;
  border-radius: 4px !important;
  display: table !important;
  margin: 15px auto !important;
  padding: 5px 10px !important;
  font-size: 16px !important;
  text-align: center !important;
  position: relative !important;
  border: 1px solid !important;
  box-shadow: 0 0 2px 0 var(--cloudy-blue) !important;
  background-color: var(--reddish-orange) !important;
  border-color: var(--reddish-orange) !important;
  color: var(--white) !important;  
}
.swal2-shown.swal2-height-auto .swal2-cancel{
  display: none !important;
}